[2014-09-04 18:11] pranavkm opened #5 "The type name MemoryCache collides with the namespace Microsoft.AspNet.MemoryCache"
Newing up the type looks ugly

[2014-09-05 19:21] Tratcher opened #6 "DateTime or DateTimeOffset?"
The memory cache uses time-stamps based on DateTime. Security uses DateTimeOffset (and rounds to one second). Which one should memory cache be using and why?

@GrabYourPitchforks

[2014-09-10 17:52] Praburaj opened #9 "[Minor]: Typo on the XML comment"
https://github.com/aspnet/Caching/blob/dev/src/Microsoft.AspNet.MemoryCache/IMemoryCache.cs#L15

identifiing => identifying

[2014-09-16 16:14] Tratcher opened #11 "IMemoryCache should support async factory callbacks"
The cache is used to avoid repeated expensive operations. The main method for adding anything to the cache (Set) takes a callback factory to do said expensive work and configure the cache settings. This factory won't be called from GetOrAdd if the entry is already present.

Proposal: Because this object creation work can be expensive we should support doing it asynchronously. E.g. `Task<object> Se

[2014-09-16 16:21] Tratcher opened #12 "Unable to instantiate MemoryCache via DI"
MemoryCache has two constructors, `MemoryCache()` and `MemoryCache(ISystemClock clock, bool listenForMemoryPressure)`. The second one is just for testing purposes, but it causes problems with DI.

The following doesn't work because DI tries to call the second constructor:

[code]

You have to do it this way instead:

[code]

This isn't a huge problem yet because it doesn't take any services, but i

[2014-09-16 16:30] Tratcher opened #13 "Support a conditional add mechanic"
In the GetOrAdd scenario the object creation factory is called and the resulting value is cached. However, the factory may determine that there is no data available to cache. Today even null returned values are cached, so the factory needs some other way to indicate not to cache the value.

Proposal: Support a conditional factory that returns true/false indicating if there is something to add to t

[2014-09-16 16:42] Tratcher opened #14 "Need an expiration Trigger for file changes"
We expect one very common use of the cache will be to cache files in memory until they are modified on disk.  Create an expiration trigger that can monitor for file changes.

Also, consider adding some extensions that will read the file in for you and hook up this trigger by default.
`string GetOrAddFileText(string key, string filename)`
`byte[] GetOrAddFileBytes(string key, string flename)`

[2014-09-16 16:47] Tratcher opened #15 "Need an expiration trigger linked to other keys"
Some cache entries may be derived from data in other entries and as such should be expired when the dependent entry is expired. Create a trigger that can monitor one or more keys.

[2014-09-16 23:18] Tratcher opened #17 "Harden trigger and callback registrations in CacheEntry"
There are possible race conditions in CacheEntry between AttachTriggers and DetatchTriggers. Similar for the callback APIs.  These need to be hardened to prevent potential stress/race crashes.

[2014-10-20 18:15] #5 closed, assigned to Tratcher

[2014-10-20 18:15] #6 closed, assigned to Tratcher

[2014-10-20 18:15] #15 closed, assigned to Tratcher

[2014-10-20 22:40] #12 closed, assigned to Tratcher

[2014-12-18 19:30] ilmax opened #29 "Small perf wins inside MemoryCache"
Hi, I was looking at the caching code and I found some points which can be enhanced to avoid creating unnecessary objects. I'm referring to the class [MemoryCache](https://github.com/aspnet/Caching/blob/dev/src/Microsoft.Framework.Cache.Memory/MemoryCache.cs), the private field _entries can be a `Dictionary<string, CacheEntry>` instead of an` IDictionary<string, CacheEntry>` (since it's private an

[2014-12-23 23:45] #9 closed, assigned to nobody

[2014-12-23 23:47] #14 closed, assigned to nobody

[2015-01-05 22:47] epignosisx opened #31 "[Enhancement] MemoryCache should have an UpdateCallback like System.Runtime.Caching.MemoryCache"
I couldn't find in the new implementation of MemoryCache an UpdateCallback like the one in System.Runtime.Caching.MemoryCache.

http://referencesource.microsoft.com/#System.Runtime.Caching/System/Caching/MemoryCache.cs,124

I find this feature extremely useful for those scenarios where you want to repopulate the cache when it expires and you do not want the next request to pay the performance hit.

[2015-01-05 22:54] Tratcher commented on #31
Would RegisterPostEvictionCallback handle this?
https://github.com/aspnet/Caching/blob/dev/src/Microsoft.Framework.Cache.Memory/ICacheSetContext.cs#L58

[2015-01-05 23:24] epignosisx commented on #31
Ahh there it is. Yup, that works!

[2015-01-06 00:04] epignosisx commented on #31
On second thought the new API does not implements a use case covered by the Runtime.Caching.MemoryCache.

If I understand correctly that PostEviction callback it's called once the entry has been removed from the cache whereas the UpdateCallback of the Runtime.Caching.MemoryCache runs before the entry is removed from the cache.

The UpdateCallback gives you the opportunity to refresh the cache entr

[2015-01-19 23:34] epignosisx commented on #31
Hi @Tratcher. Any update on this?

[2015-01-20 00:24] Tratcher commented on #31
The design is intended.  We wanted to avoid running any user code while holding the data structure locks. We also want changes to a value to trigger eviction on dependent keys. Updating in place confuses the dependency scenario.

[2015-01-23 15:20] #31 closed

[2015-01-31 16:12] pranavkm opened #34 "Rename EntryLinkHelpers.ContentLink"
CacheTagHelpers in Mvc rely on this API for users to be able to set custom triggers as part of their code. It would be nice to have the type name be less obtuse. Maybe `CacheEntry.CurrentContext`?
cc @DamianEdwards

[2015-02-20 18:56] Eilon opened #42 "Have Azure Cache team review Redis cache provider"

[2015-02-21 17:18] Tratcher commented on #42
FYI: They already did an initial review.

[2015-02-22 01:14] Eilon commented on #42
Ah, this was a request by @mikeharder, so good to know that an initial review already happened!

[2015-03-05 02:22] HaoK opened #43 "Consider renaming AddCachingServices -> AddCaching"
More consistent with other repos AddXyz

[2015-03-08 09:42] davidfowl opened #45 "Rename to Microsoft.Framework.Caching.*"
Because it sounds better?

[2015-03-08 18:48] Eilon commented on #45
Indeed it does.

[2015-03-10 12:52] XcoderTeam opened #48 "How to remove groups of entries"
I look into the test project, How can I get all the keys?

[2015-03-10 16:42] Tratcher commented on #48
That's not supported in the current design.

[2015-03-11 13:21] XcoderTeam commented on #48
Btw how to solved if i want to delete all the keys that start with "SOMEKEY.*"?

In the current .net 4 memoryobject usually i get allthekey then check the regex then remove the key.

[2015-03-11 17:14] Tratcher commented on #48
I recommend using shared cache triggers or cache entry links to remove groups of items.

Triggers: Create a trigger and assign it to each item in the group. Fire the trigger when you want to remove all the items.
https://github.com/aspnet/Caching/blob/dev/samples/MemoryCacheSample/Program.cs#L90

Entry links: Create one item that is the root item. Use EntryLink's to make all other items depend on

[2015-03-12 03:02] #45 closed

[2015-03-12 23:48] #43 closed

[2015-03-14 09:58] XcoderTeam commented on #48
most of the time people store the key is in this format.
ex:

Keys:
membersite.language.all
membersite.language.id-{0}
membersite.language.iso-{0}
membersite.language.index-{0}.pagesize-{1}

When we want to perform CRUD operation
READ
//Most of the time we set the key

CREATE, UPDATE, DELETE
//Remove all the keys that startwith membersite.language.

Q1. Can you explain how that the pattern using t

[2015-03-14 13:39] Tratcher commented on #48
A2: The cache is considered highly unstable where entries could expire or be removed at any time. This would make simple code like the following unreliable.
[code]

A1:

Bulk remove with shared expiration triggers:
[code]

Bulk remove with EntryLinks:
[code]

[2015-03-17 13:53] XcoderTeam commented on #48
Remove on Trigger - Is work fine to delete all keys.

I got error on EntryLinks

			var cache = new MemoryCache(new MemoryCacheOptions() {
				ListenForMemoryPressure = false
			});

			cache.Set("membersite.language.", "Language Pattern");
			var link = new EntryLink();
			var parentValue = cache.Get("membersite.language.", link);
			Assert.Equal("Language Pattern", parentValue);
			var result =

[2015-03-17 23:43] Tratcher commented on #48
@Praburaj Can you run this and see what I did wrong?

[2015-03-17 23:46] Praburaj commented on #48
@Tratcher I'll give it a try.

[2015-04-01 13:40] XcoderTeam commented on #48
@Tratcher @Praburaj any updated on this one?

[2015-04-01 20:51] Tratcher commented on #48
Ok, now I remember how entry links work. They don't create a direct link between keys, they instead copy any existing expiration information (triggers or timers) from the parent key to any sub keys.
[code]

[2015-04-04 23:56] Eilon opened #56 "Clean up mention(s) of 'k' from source code"
https://github.com/aspnet/Caching/blob/9f6ebd3f216ee0ef90b1245034c07aeee2537f45/src/Microsoft.Framework.Caching.Memory/EntryLinkHelpers.cs#L31

[code]

Not sure if there are others.

[2015-04-10 14:32] XcoderTeam commented on #48
@Tratcher are you able to change the example test that i write?
cause the example of your code it hard to figure it out.

[2015-04-10 23:15] Tratcher commented on #48
[code]

[2015-04-29 23:15] muratg opened #59 "Pkg rename: Microsoft.Framework.Caching.Interfaces -> Microsoft.Framework.Caching.Abstractions"
See: https://github.com/aspnet/Announcements/issues/8#issuecomment-97566113

[2015-04-30 00:11] BrennanConroy commented on #59
https://github.com/aspnet/Caching/commit/2ab1391d1f1d691afbc60c77f64c6c899dcf0c80

[2015-04-30 00:11] #59 closed

[2015-05-01 06:17] Eilon opened #61 "Microsoft.Framework.Expiration.Interfaces namespace has just one type"
The `Microsoft.Framework.Expiration.Interfaces ` namespace has just one type: `IExpirationTrigger`

https://github.com/aspnet/Caching/blob/dev/src/Microsoft.Framework.Caching.Abstractions/IExpirationTrigger.cs#L6

And what a weird namespace name, too.

it appears to be used within caching, and also within the FileSystem repo to implement the file watcher notifications, e.g.:
* [NoopTrigger](https:

[2015-05-04 20:41] muratg commented on #61
Agreed, this interface should stay in Abstractions assembly, and the namespace should be `Microsoft.Framework.Caching`

[2015-05-05 15:09] unaizorrilla opened #63 "Missing ServiceCollection extension method for Redis cache"
Why not exist extension method on ServiceCollection to register RedisCache?

[2015-05-05 17:12] kichalla commented on #61
commit fa8f9772271bf20c1697f762c579c2799cd79149

[2015-05-05 17:12] #61 closed

[2015-05-05 19:20] Eilon commented on #63
I think the reason is quite simple: because no one added it :smile:

[2015-05-05 22:44] unaizorrilla commented on #63
Hi Elion!
Accept contribution on this topic?

Thanks
Unai

[2015-05-06 16:05] Eilon commented on #63
Well, I *think* it makes sense to have such a helper extension method (it's probably just 2-3 lines of code, but still).

Adding @HaoK @Tratcher to check if they agree it makes sense.

[2015-05-06 16:08] HaoK commented on #63
Yeah probably AddRedis()?

[2015-05-06 17:53] unaizorrilla commented on #63
AddRedis or AddRedisCaching?

[2015-05-06 17:55] Eilon commented on #63
`AddRedisCache` maybe? That matches the singular name that's used elsewhere in the Redis stuff.

[2015-05-06 17:56] unaizorrilla commented on #63
Ok for me!

[2015-05-18 21:42] Tratcher commented on #11
Obsolete because the callbacks are being removed. https://github.com/aspnet/Caching/pull/66.

[2015-05-18 21:42] #11 closed

[2015-05-18 21:43] Tratcher commented on #13
Obsolete because GetOrAdd is being removed. https://github.com/aspnet/Caching/pull/66

[2015-05-18 21:44] #13 closed

[2015-05-18 21:46] Tratcher commented on #34
Obsolete due to https://github.com/aspnet/Caching/pull/66

[2015-05-18 21:46] #34 closed

[2015-05-27 23:33] divega opened #67 "Key for memory cache should be of type object instead of string"
There doesn't seem to be a good reason for it to be constrained to string and object could have a number of advantages, e.g.:

- Perf: no need to compute a string based on individual components
- Easier to avoid collisions by having separate key types
- Potentially easier to add (and read) metadata to (from) the key
- Encapsulation: cache key can be made non-public, forcing other components to not

[2015-06-18 03:48] Eilon commented on #67
Interesting... :bulb:

[2015-06-25 21:34] kichalla opened #72 "Implement SQL Server based distributed cache"
@muratg : This is a tracking item for the feature I am currently working on. BTW, I couldn't find the milestone for Beta6 in the drop down.

[2015-07-08 21:41] justinvp commented on #29
FYI, I noticed these as well and went ahead and fixed them while making some other changes in #74.

[2015-07-09 17:33] justinvp commented on #29
Fixed by #74. This can be closed.

[2015-07-09 17:34] #29 closed

[2015-07-09 17:39] #72 closed

[2015-07-10 12:26] ehabelgindy opened #75 "SqlServerCacheOptions doesn't implement the IOptions<SqlServerCacheOptions> interface"
Just noticed that the SqlServerCacheOptions doesn't implement the IOptions<SqlServerCacheOptions> interface following the same pattern used in the MemoryCacheOptions and RedisCacheOptions classes.

Is this a bug, or intentionally left like this?

[2015-07-10 12:50] kichalla commented on #75
This was intentional. In general, you need not implement the `IOptions<>` interface as they get new'd up by a DI registered service called `OptionsManager`([this](https://github.com/aspnet/Options/blob/dev/src/Microsoft.Framework.OptionsModel/OptionsManager.cs#L40) line)

The `MemoryCacheOptions` and `RedisCacheOptions` classes implemented them to make testing easy as opposed to doing something li

[2015-07-13 11:26] ehabelgindy opened #76 "Multiple Redis cache instances"
Is it possible to create multiple instances of the RedisCache class where each instance connects to a different server/instance of Redis?

As far as I can see that the RedisCache class doesn't support named options, hence I presume that all instances have to use the same configuration.
Thanks

[2015-07-13 15:19] Tratcher commented on #76
You should be able to do multiple instances if you create them directly:
`new RedisCache(new RedisCacheOptions() {...});`

[2015-07-13 15:51] ehabelgindy commented on #76
I thought so, probably this is the reason why the RedisCacheOptions implements the IOptions<RedisCacheOptions>.

This raises the question of how to new up multiple SqlServerCache instances with different options?
NB: the SqlServerCacheOptions class doesn't implement the IOptions<...> (Issue #75)

[2015-07-13 16:56] Tratcher commented on #75
@ehabelgindy is right, it's hard to instantiate multiple instances without this.

[2015-07-13 17:29] muratg commented on #76
Closing this one and keeping the SQL Server one for triage.

[2015-07-13 17:29] #76 closed

[2015-07-18 11:06] ycrumeyrolle opened #78 "Microsoft.Framework.Caching.Abstractions package description is incorrect"
https://github.com/aspnet/Caching/blob/dev/src/Microsoft.Framework.Caching.Abstractions/project.json#L5

"ASP.NET 5 <b>in memory</b> cache abstractions."

As there is now a SqlServerCache, this package can not be said as "in memory" abstraction.

[2015-07-20 08:49] RehanSaeed opened #79 "IDistrbutedCache Extension Methods/Helper Methods"
The IDistrbutedCache seems pretty basic at the moment compared to the IMemoryCache, as it only deals in byte arrays. Most developers using this interface will be writing some extensions methods for it.

This [StackOverflow post](http://stackoverflow.com/questions/31458950/is-there-any-guidance-for-caching-patterns-in-asp-net-5) is asking if these methods will eventually be part of ASP.NET Caching

[2015-07-20 10:37] davidfowl opened #80 "Get rid of throw ex"
We'll lose the call stack:

https://github.com/aspnet/Caching/blob/dev/src/Microsoft.Framework.Caching.SqlServer/DatabaseOperations.cs#L216

/cc @kichalla

[2015-07-27 18:25] kichalla commented on #80
commit 2dfae2f5511271b601372d33bf61c9287954ad22

[2015-07-27 18:25] #80 closed

[2015-07-28 10:54] ehabelgindy opened #84 "Bulk remove on IDistributedCache"
Would it be useful if the IDistibutedCache interface can allow bulk remove?

Unlike the memory cache, removing multiple entries from distributed caches can be an expensive task. Providing an overload of the *Remove* function that accept an array of keys - e.g. Task Remove(string [] keys) - would allow more efficient implementations of distributed caches.

[2015-07-29 00:10] dauger opened #85 "Sql Cache In-Memory OLTP?"
Has having the option of using Sql Server 2014's in-memory OLTP instead of traditional tables been evaluated? It seems like it might be a good fit for a cache, but I'll admit that I have not done a deep dive on in-memory OLTP's capabilities & restrictions yet.

[2015-07-31 15:12] RehanSaeed opened #86 "Any Plans to Implement VaryByParam?"
Are there any plans to implement the MVC 5 ```VaryByParam``` property on ```ResponseCache``` and ```CacheProfile```?

[2015-07-31 15:14] RehanSaeed commented on #86
I think this should be asked in the MVC project.

[2015-07-31 15:14] #86 closed

[2015-07-31 15:22] Tratcher commented on #86
The kernel mode cache in IIS and WebListener is not capable of supporting any vary-bys. It could be supported in a middleware: https://github.com/aspnet/responsecaching

[2015-08-05 17:57] glennc commented on #85
I don't think we have done any deep analysis on it. It's probably not a bad idea, but not something we have scheduled for our team at the moment.

[2015-08-08 20:17] PinpointTownes opened #87 "Add a new net45(1) target for the Redis provider"
The Redis provider is the only one that doesn't target `net45`. That would be great if we could fix that :smile:

https://github.com/aspnet/Caching/blob/dev/src/Microsoft.Framework.Caching.Redis/project.json#L15

[2015-08-10 18:23] PrimeObjects opened #88 "Access Cache globally in ASP.NET 5"
Hello,
In ASP.NET 4, we can always get Cache instance by using HttpContext.Cache.
What's the similar solution for me to get this kind of global cache access in all my Controllers and Middlewares  in ASP.NET 5?

Thanks lot
Gary

[2015-08-10 18:34] Tratcher commented on #88
You should use dependency injection for this. See the Session middleware and samples:
https://github.com/aspnet/Session/blob/dev/samples/SessionSample/Startup.cs#L37-L39
https://github.com/aspnet/Session/blob/dev/src/Microsoft.AspNet.Session/SessionServiceCollectionExtensions.cs#L23
https://github.com/aspnet/Session/blob/dev/src/Microsoft.AspNet.Session/DistributedSessionStore.cs#L17
https://githu

[2015-08-10 19:42] davidfowl commented on #88
We recommend constructor injection where possible. Avoid `HttpContext.ApplicationServices.GetRequiredService<IMemoryCache>()` if possible

[2015-08-10 20:31] PrimeObjects commented on #88
I added services.AddCaching(); to my ConfigureServices function in startup.cs
 public void ConfigureServices(IServiceCollection services)
 {
             services.AddApplicationInsightsTelemetry(Configuration);

            services.AddCaching();
            services.AddSession();
            services.AddMvc();

            services.AddInstance<IConfiguration>(Configuration);

 }

What should I do

[2015-08-10 20:39] Tratcher commented on #88
@rynowak?

[2015-08-10 20:56] kichalla commented on #88
Examples:
- Injecting into constructor
`public ProductsController(IMemoryCache cache)`

- Injecting into controller's action(`FromServices` is specific to Mvc only)
`public Task<IActionResult> Details(int id, [FromServices] IMemoryCache cache)`

- Injecting into controller's property
[code]

Regarding using `[FomServices]` vs constructor injection: For example, if I have only one action which uses

[2015-08-10 20:57] PrimeObjects commented on #88
Thank you very much!

[2015-08-10 20:57] #88 closed

[2015-08-10 21:08] PrimeObjects opened #89 "SqlServer Cache Dependency"
Hello,

I have a few questions here.

1. Do we still support SqlServer cache dependency on SQLServer Cache in ASP.NET? If yes how should I configure it?
2. How can I define DI for SQLCacheDependency and what should I put  in the constructor of Controller ( IDistributedCache?)
3. I have been using table based cache dependency, is there a solution to manage SQLCacheDependency at record level?
4. I'm

[2015-08-10 21:23] kichalla commented on #89
I will try to answer some here:
For questions 1 -3: No, currently there is no support for 'cache dependency' (or expiration trigger) for implementations of `IDistributedCache` (which SqlServerCache also implements)

Regarding 4: No, we currently do not have any benchmarks.

@Tratcher

[2015-08-10 21:59] PrimeObjects commented on #89
Do you have SQLCacheDependency or any CacheDependency in your roadmap?
I will highly suggest to work on a benchmark, it will help selling Azure Redis if Redis provides better performance.

[2015-08-10 22:13] kichalla commented on #89
@muratg @Eilon

[2015-08-11 00:44] PrimeObjects opened #91 "Need more Get function in the Cache class"
Hi,

In session class, we have Get, GetInt32, GetString functions.
Can I suggest we also do it to Cache Class to make the design consistent?

Thanks
Gary

[2015-08-11 18:23] PrimeObjects commented on #91
Also can I suggest to have Set, SetString, SetInt32 ...

[2015-08-11 18:28] PrimeObjects opened #92 "Where's is the simple TSQL script for creating the CacheTable"
Hi team,
There's a TableName parameter to define the table used by SQLCache.
I searched online, it seems I have to call DNX commands somehow to create tables. and there's other document about how to make DNX ready. I think it is too complex and unnecessary.
I guess the script for table (maybe some stiredprocedures and triggers) must be very straightforward. could you provide the whole TSQL for cre

[2015-08-11 18:32] kichalla commented on #92
Have you looked at this : https://github.com/aspnet/Announcements/issues/43

[2015-08-11 18:39] PrimeObjects commented on #92
I did, I'm using VS2015 and don't have dnu in my dos command window, and according to the link below there are different steps to run DNX so I can run dnu (correct if I'm wrong here)

http://blogs.msdn.com/b/sujitdmello/archive/2015/04/23/step-by-step-installation-instructions-for-getting-dnx-on-your-laptop.aspx

My questions is it easier for developer just run whatever the TSQL you are using in t

[2015-08-11 19:44] Eilon commented on #89
Re-opening because we've just moved this to the backlog because it's a good feature request - but we don't have plans on when we expect to deliver this.

[2015-08-11 21:46] PrimeObjects commented on #89
Hi Elion,

You mean SQLCacheDependency? or the benchmark.
For SQLCacheDependency, please support record level dependency. The original table level dependency is only useful to small table.
I'm writing a record level  SQLCacheDependency myself for now before yours is ready.

Thanks
Gary

[2015-08-11 21:56] Eilon commented on #89
I mean the cache dependency - we'd like to have it someday, but it is not currently in our plans.

[2015-08-12 23:20] PrimeObjects opened #93 "Do you or are you going to support keys Enumerator or indexer"
some think like this

[code]

[2015-08-13 04:06] Eilon commented on #93
@lodejard for thoughts.

I think it's doubtful this would be available because part of the idea with caching is that mere moments after you ask it a question, the answer could have changed. That is, suppose you have the answer to which keys are there - a moment later the cache is purged and the list of keys you have is invalid.

Do you have a scenario for this?

[2015-08-13 05:10] PrimeObjects commented on #93
when you have a group of cache with same prefix in the key, you want to remove them all. Although it is not ideal to scan whole cache collection to find the group of cache by prefix, it is the only solution i know in old .net. any better idea?

thanks
Gary

[2015-08-13 05:15] Eilon commented on #93
Do you know the list of possible keys statically? That is, are they always "foo.bar", "foo.baz", and "foo.qux"? If so, surely you could just delete all those keys regardless of whether they exist.

If the keys are not known at all (aside from a prefix), you could maintain a list of keys locally in the app and delete based off of that.

[2015-08-13 05:31] PrimeObjects commented on #93
yes, I thought about what you said when I was answering your question. Although we use cache to maintain some metadata (e.g entityname.attributename) defined by customer (means our program does not know the keys in a hard coded way), we are able to find a list of keys from database. I will just have to change our code. I will close this issue.

Thank you for the help!
Gary

[2015-08-13 05:31] #93 closed

[2015-08-15 09:33] RehanSaeed commented on #79
I created a pull request (https://github.com/aspnet/Caching/pull/94) to help provoke a discussion about the best way forward.

[2015-08-19 21:26] PrimeObjects commented on #92
Hi friends, Any progress on this?

[2015-08-19 21:32] kichalla commented on #92
We currently do not have separate tsql files which setup the table and indexes. But you can take a look at the following: https://github.com/aspnet/Caching/blob/dev/src/Microsoft.Framework.Caching.SqlConfig/SqlQueries.cs

[2015-08-19 23:08] PrimeObjects opened #96 "How to flush all cache?"

[2015-08-19 23:34] Tratcher commented on #96
Related: https://github.com/aspnet/Caching/issues/93

[2015-08-20 00:22] PrimeObjects commented on #92
The SQL statement works. However I changed nvarchar(900) to varchar(450)
CREATE TABLE _AspNetCache(
Id varchar(450)

[2015-08-20 00:22] #92 closed

[2015-08-24 16:48] kichalla opened #97 "ls"

[2015-08-24 16:48] #97 closed

[2015-08-24 17:42] kichalla commented on #63
commit a8790019715bca25555238ef4a792960d3ca1e4c

[2015-08-24 17:42] #63 closed

[2015-08-31 17:50] #67 closed

[2015-09-01 22:04] davidfowl commented on #87
@PinpointTownes what for?

[2015-09-01 22:09] PinpointTownes commented on #87
1. consistency.
2. being able to use the Redis provider outside DNX :smile:

[2015-09-02 17:34] #48 closed

[2015-09-04 08:25] kichalla commented on #87
935778577e4542327231f9ea147203519798975c

[2015-09-04 08:25] #87 closed

[2015-09-04 08:26] davidfowl commented on #87
@kichalla this needs to be marked as done

[2015-09-04 08:28] kichalla commented on #87
Done @davidfowl :smile:

[2015-09-04 17:46] muratg commented on #42
Do we need to schedule a get together and review this? Putting to backlog milestone for now.

[2015-09-09 04:27] HaoK opened #102 "AddCaching methods should adopt new pattern"
- Nuke ConfigureXyz
- AddXyz should have overload with `Action<XyzOptions>`

[2015-09-09 17:21] muratg commented on #102
https://github.com/aspnet/Session/issues/58

[2015-09-11 21:17] HaoK commented on #102
58b3203c7e75b641ea4ae9c01964324b17bc7ecf

[2015-09-11 21:17] #102 closed

[2015-09-13 03:52] Eilon opened #106 "Need to improve extremely slow (1min) long "unit" tests"
These two are super slow to run:

1. **30sec** [GcNotificationTests.CallbackInvokedMultipleTimes](https://github.com/aspnet/Caching/blob/dev/test/Microsoft.Framework.Caching.Memory.Tests/GcNotificationTests.cs#L28-L59)
2. **1min** [MemoryCacheSetAndRemoveTests.SetOverwritesAndInvokesCallbacks](https://github.com/aspnet/Caching/blob/dev/test/Microsoft.Framework.Caching.Memory.Tests/MemoryCacheSetAn

[2015-09-13 21:15] MarinAtanasov opened #107 "The caching architecture is a mess"
Hey guys,

I have been trying to figure out the hierarchy around the caching framework.
So far everything seems to be a huge mess:
1. LocalCache implements IDistributedCache which does not make any sense.
2. IDistributedCache works with byte[] but there is no binary serializer in .NET Core.
3. MemoryCache implements IMemoryCache which does not inherit from a more generic caching interface.

I have

[2015-09-13 21:54] davidfowl commented on #107
No problem. I'll explain the architecture by answering your observations.

There are 2 core interfaces that your application can used when caching, IDistributedCache and IMemoryCache. As you've observed they are *very* different and that is intentional. The major differences are the fact that IDistributedCache is async and requires a serialization mechanism. They are used for different things but

[2015-09-14 06:40] MarinAtanasov commented on #107
Thank you for the answer.
I would like to point out that I am not trying to be a jerk here. I am trying to help.

Is it distributed? If not, it shouldn't implement IDistributedCache because it is confusing. Maybe the interface name is wrong, maybe it needs to extend something like ICache which could be a base interface of IDistributedCache.

The latter is an implementation detail which I do not ne

[2015-09-14 06:58] davidfowl commented on #107
Sure, no harm done. The tone is a bit odd for trying to help thought :wink:

A good analogy would be writing a unit test. The testable distributed cache isn't distributed either but it's all about the interface. The distributed cache and memory are different and will remain that way. You can use this as a decision point, if you want to cache to be shared across processes/instances/machines, whatev

[2015-09-14 07:26] MarinAtanasov commented on #107
Thank you for the quick answer and the links, David.
I understand now more of the reasoning behind the current implementation.

My main concern that remains is that if you need to use the caching in 5 different places in your implementation, you will need to have access to the serialization in those 5 places as well unless you wrap the IDistributedCache and the serializer in an object which is use

[2015-09-14 07:26] #107 closed

[2015-09-14 07:31] davidfowl commented on #107
We've discussed this several times and haven't really settled on anything. The design is such that it would be trivial to add an interface that sat in between user code and and the IDistributedCache that would be a convenience API for serializing/deserializing data. Nothing planned but it would be easy to do in the future.

[2015-09-14 16:38] #56 closed

[2015-09-14 16:54] Tratcher commented on #106
FYI: These kept getting lengthened because slow CI machines would cause timeouts for the positive tests (Assert.True). The negative tests (Assert.False) don't actually need timeouts that long.

Also https://github.com/aspnet/Caching/pull/95

[2015-09-14 17:22] muratg commented on #106
See https://github.com/aspnet/Caching/pull/95/files

[2015-09-15 17:13] muratg commented on #106
Putting this in RC1 for now.

[2015-09-17 16:56] pranavkm opened #108 "Is Caching.Abstractions the right place to put IExpirationTrigger?"
Spoke to @davidfowl and @lodejard offline. Their consensus is that putting it in Caching.Abstractions is wrong layering. There doesn't seem to be an alternate place to move it to at this point.

[2015-09-17 17:11] lodejard commented on #108
Move to `Microsoft.Framework.Primatives` and rename to `IChangeToken`

Also move `Microsoft.Framework.Primatives` to a different repo than HttpAbstractions.

[2015-09-17 17:20] pranavkm commented on #108
We could put `Microsoft.Framework.Primitives` in Common (seems common enough). Alternatively @Eilon, could you create a new repo for this?

[2015-09-17 17:28] Tratcher commented on #108
That makes sense for FileProviders, but doesn't match the design/usage in memory cache. IExpirationTriggers are used to evict something from the cache, they don't specify why. IChangeToken hardcodes the `why`.  Note the only other implementation of IExpirationTrigger is CancellationTokenTrigger.

Would it make more sense to separate these concepts again and provide a bridge?

[2015-09-17 17:31] lodejard commented on #108
Nah - things are being expired because something has changed. Bridge is just an extra layer that forces the user to find the adapter between them.

Common looks like a perfect location.

[2015-09-17 18:31] pranavkm commented on #108
Self assigning for beta8

[2015-09-22 15:35] #108 closed

[2015-09-24 07:20] sunsided opened #113 "Default expiration times / cache behavior with empty options on set"
Is there any default value or expected behavior on expiration times? I feel like I'm missing something critical, but isn't `new DistributedCacheEntryOptions()` on a `Set` basically a guaranteed fuckup with a distributed cache if the client process dies midway?

[2015-09-24 15:58] Tratcher commented on #113
With empty options the cache is free to remove the least recently used items as it sees fit. This is an implementation detail of the storage provider as well as the cache implementation.

[2015-09-27 11:15] sunsided commented on #113
Okay (and thanks). That's fine by me. Is there a reason why this isn't a required configuration parameter?

[2015-09-30 06:09] Eilon opened #114 "Rename Microsoft.Framework.* to Microsoft.Extensions.*"
Need to rename assemblies and namespaces from `Microsoft.Framework.*` to `Microsoft.Extensions.*`.

Once the change is committed, please post an issue in the https://github.com/aspnet/Announcements/issues/ repo that links back to this issue.

[2015-10-04 14:24] pranavkm commented on #114
b0173c7be7265707f7b70e0adf7ee0abd4ffea39

[2015-10-04 14:24] #114 closed

[2015-10-20 17:18] muratg commented on #79
Closing this based on https://github.com/aspnet/Caching/pull/94#discussion_r39995622

[2015-10-20 17:18] #79 closed

[2015-10-23 01:08] simonpbond opened #117 "Why use caching.redis?"
Why should I use microsoft.framework.caching.redis (that has a dependency on stackexchange.redis) instead of just using the functionality already available in stackexchange.redis?

[2015-10-23 15:03] Tratcher commented on #117
Because it implements IDistributedCache and can be plugged into other places in the framework like Session.

[2015-10-23 16:37] simonpbond commented on #117
What is the difference between using MemoryCache and IDistributed cache.
Does MemoryCache refer to sessions? and can MemoryCache be used with Redis (as IDistributedCache can)?

I was under the impression (with limited knowledge) that MemoryCache refers to the local memory of the server, whereas IDistributedCache allows moving the cache off the server and on to Redis (or another store), which would

[2015-10-23 16:39] Tratcher commented on #117
"I was under the impression (with limited knowledge) that MemoryCache refers to the local memory of the server, whereas IDistributedCache allows moving the cache off the server and on to Redis (or another store), which would make me think MemoryCache wouldn't use Redis."
That is all correct. Session can use MemoryCache to store data locally or Redis to store it remotely.

[2015-10-23 16:51] simonpbond commented on #117
By injecting both:

services.AddSingleton<IMemoryCache, MemoryCache>();
services.AddSingleton<IDistributedCache, RedisCache>();

I have the option to store data in local memory or in Redis.

However, does ASP/MVC have any session data that is automatically stored when doing this (I'm thinking something like the session state from webforms etc.)?

Or is there no automatic session data used in ASP/M

[2015-10-23 16:52] simonpbond commented on #117
Above code should read:

    services.AddSingleton<IMemoryCache, MemoryCache>();
    services.AddSingleton<IDistributedCache, RedisCache>();

[2015-10-23 17:03] Tratcher commented on #117
Session is implemented here: https://github.com/aspnet/session. MVC's temp data feature uses session, but I'm not aware of anything else that uses it by default.

[2015-10-23 17:10] simonpbond commented on #117
Sorry, just to close off, doing the above will only provide me the ability to store my own custom data in cache (either in memory, or redis) and will not affect sessions as is?

Thanks again

[2015-10-23 17:13] Tratcher commented on #117
Session will pick up IDistributedCache from services, so yes you will affect it. Unless you make it a Transient service so they don't share.

[2015-10-23 17:14] simonpbond commented on #117
Thanks for clearing everything up. Appreciated.

[2015-10-23 17:14] #117 closed

[2015-11-09 22:39] eashi opened #121 "Redis is not supported for .netCore, any plans?"
I wanted to use Redis with .net core, but it is not supported. Will this be supported anytime in the future?

![rediscore50](https://cloud.githubusercontent.com/assets/2030617/11048941/daed1836-878e-11e5-9a97-7a883fdd5f43.JPG)

[2015-11-09 22:41] Tratcher commented on #121
We're waiting on support from StackExchange.Redis. @rustd?

[2015-11-10 17:18] rustd commented on #121
refer to https://github.com/StackExchange/StackExchange.Redis/issues/202

[2015-11-11 21:08] muratg commented on #121
@eashi closing this one as the work is tracked on StackExchange repo.

[2015-11-17 20:24] pranavkm opened #122 "Consider changing the contract of IMemoryCache to use a generic key"
The current signatures for `IMemoryCache` use an `object` key for all its operations. There are extension methods that use `TKey, TValue` but they cast from object. Consequently for value types with custom comparers, cache lookups result in an extra boxing.

We could avoid this by modifying `IMemoryCache` to use a generic key argument:

[code]

This would additionally allow us to partition the bac

[2015-11-17 20:24] pranavkm commented on #122
cc @lodejard \ @rynowak

[2015-11-18 18:38] muratg commented on #106
@BrennanConroy Please adjust the timeouts on the negative tests

[2015-11-18 18:38] muratg commented on #78
Feel free to squeeze this in with test changes :)

[2015-11-18 18:57] BrennanConroy commented on #106
Looks like the GCNotificationTest was fixed by #120

[2015-11-18 19:59] BrennanConroy commented on #78
Fixed in #100

[2015-11-18 19:59] #78 closed

[2015-11-18 20:36] BrennanConroy commented on #106
834385ee7495571550b2f0eb2ffd2c7fe6725dbe

[2015-11-18 20:36] #106 closed

[2015-11-19 22:56] ngonzalezromero opened #124 "Redis Mac OSX Error"
I have the following error when trying to connect to networks from Mac OSX (Mono 4.2 ,dnx rc-1-final)

 An unhandled exception has occurred: It was not possible to connect to the redis server(s); to create a disconnected multiplexer, disable AbortOnConnectFail. SocketFailure on PING
      StackExchange.Redis.RedisConnectionException: It was not possible to connect to the redis server(s); to create

[2015-11-20 23:13] zoinkydoink opened #125 "getting null on Get (question)"
Either I am not understanding the purpose of MemoryCache or I am doing something wrong.
My goal is to use it to cache items in memory across multiple requests in my mv6 app.

I check to see if its null, if it is then I get my stuff from db and set it in the Index of home controller, then I try to access that from a ajax call but i always get null.. here is my code..
[code]

then in my access metho

[2015-11-20 23:49] Tratcher commented on #125
You can't do `new MemoryCache(new MemoryCacheOptions());` every time and expect it to contain the same data. You need to store the memory cache instance somewhere and re-use it between requests.

[2015-11-20 23:49] Tratcher commented on #125
Consider resolving IMemoryCache from DI

[2015-11-21 00:14] zoinkydoink commented on #125
apologies for my lack of understanding, If i have to store the memorycache instance then how does that make my access seamless? Maybe its due to my perception, I guess i was expecting it to work like System.Web.Caching.(currently using it for my mvc5 app)

I read somewhere that I may need to add services.AddCaching which gets me a copy of memorycache and distributedcache, is this still the case wi

[2015-11-21 03:42] Tratcher commented on #125
Even in System.Web you didn't create a new instance every time, you used the MemoryCache.Default instance. We've just moved it from the static Default to an injected service. You can find out more about injecting services over at https://github.com/aspnet/mvc

Yes,  services.AddCaching is how to create the needed services.

The caching docs are still in progress. https://docs.asp.net/en/latest/fun

[2015-11-21 07:42] davidfowl commented on #125
You're not supposed to new anything up. You're supposed to use the instance provided by the DI container. Declare in your constructor that you need IMemoryCache and you will be handed one. Use that one

[2015-11-21 12:38] ngonzalezromero commented on #124
any help? @davidfowl

[2015-11-21 13:55] davidfowl commented on #124
Try mono 4.0.5

[2015-11-21 13:58] ngonzalezromero commented on #124
i did it..same error

https://github.com/StackExchange/StackExchange.Redis/issues/233

[2015-11-21 14:02] davidfowl commented on #124
Nothing you can do othe than report a mono bug

[2015-11-27 08:37] joaquin-corchero opened #128 "Redis cache does not implement Microsoft.Extensions.Caching.Distributed.IDistributedCache"
Good morning,

I was trying to implement Sessions and Caching using Redis.

The framework is dnx451 and the versions of the packages are:
"Microsoft.Framework.Caching.Redis": "1.0.0-rc1-15658",
"Microsoft.AspNet.Session": "1.0.0-rc1-final"

RedisCache implements the interface Microsoft.Framework.Caching.Distributed.IDistributedCache but in order to use RedisCache for session, it needs to implement

[2015-11-27 14:04] Tratcher commented on #128
https://github.com/aspnet/Announcements/issues/77

[2015-11-27 14:04] #128 closed

[2015-12-02 17:08] muratg commented on #124
Do you have the same issue on CoreCLR @ngonzalezromero?

[2015-12-02 17:09] muratg commented on #125
@zoinkydoink Did using the instance provided by the DI work for you? Are you still having issues?

[2015-12-02 17:10] muratg commented on #122
Seems sensible to me @davidfowl

[2015-12-02 17:16] ngonzalezromero commented on #124
Yes... same error.. but i found that is a error of corefx
https://github.com/dotnet/corefx/issues/4733
https://github.com/dotnet/corefx/issues/4588

[2015-12-02 17:30] muratg commented on #124
Thanks @ngonzalezromero! So it's already tracked on CoreFX.  Closing this one as external, but file another issue if this continues to be broken after CoreFX issues are closed.

[2015-12-02 17:30] #124 closed

[2015-12-03 19:43] avanderhoorn opened #129 "Adding Diagnostics Source events/insight to Caching"
As a consumer of diagnostics data we would like to be able to know when a cache hits and misses occur. Having this data will allow us to start realizing/showing "case and effect" with cache hits and misses. I would imagine that as a very minimum we would find out when hits occur, what was the key, the data, how long it took, and the source of the data (in memory vs not), and when misses occur, wha

[2015-12-07 18:37] muratg commented on #122
@pranavkm is the suggestion to make this an additive change or breaking change (i.e. remove the ability to retrieve with `object` type?

[2015-12-07 18:39] muratg commented on #125
Closing this as I haven't heard any problems using the instance passed by the DI.  Please reopen or file another one if you're still experiencing issues.

[2015-12-07 18:39] #125 closed

[2015-12-07 18:40] muratg commented on #75
@kichalla Could you look into adding this?

[2015-12-07 18:55] pranavkm commented on #122
Not super sure on that - we just spoke about the generic overloads. That said, if we make a sharded system, looking it up might become quite complicated with a non-generic key.

[2015-12-07 19:21] muratg commented on #122
So if we decide to do this, it's better before V1.

@davidfowl @lodejard @Tratcher Any thoughts?

[2015-12-07 19:37] Tratcher commented on #122
What do you do here? https://github.com/aspnet/Caching/blob/dev/src/Microsoft.Extensions.Caching.Abstractions/PostEvictionDelegate.cs

[2015-12-08 00:38] kichalla commented on #75
48da07494f82aaacce0e7cdccee1d4b0e5b21c9b

[2015-12-08 00:38] #75 closed

[2015-12-10 22:35] rustd commented on #121
There is a version of SE.Redis which works for .NET Core
https://www.nuget.org/packages/StackExchange.Redis/1.1.0-alpha1
https://www.nuget.org/packages/StackExchange.Redis.StrongName/1.1.0-alpha1

/cc @Tratcher

[2015-12-10 23:37] muratg commented on #121
@rustd What's the work on our end?

[2015-12-11 00:24] rustd commented on #121
Update Microsoft.Extensions.Caching.Redis to take a dependency on this package so users can use ASP.NET 5 Caching with Redis on .NET Core
 https://github.com/aspnet/Caching/blob/dev/src/Microsoft.Extensions.Caching.Redis/project.json

[2015-12-15 06:29] basitanwer commented on #96
Responding to #93 being related

I think and support there should be a cache clear option. Reasons could be
 1. Development and testing is made easier.
 2. With multiple Clients connected, keeping a local map of keys won't do the trick.
 3. Scanning over all the items to do this isn't a great idea
 4. All existing Distributed Caches support clear operations.

[2015-12-15 06:48] basitanwer opened #131 "Shouldn't there be a Disconnect method for IDistributedCache ?"
For any store there should be a disconnect function taking full responsibility of

 - Securely closing sockets connections
 - Disposing resources.

[2015-12-15 16:32] BrennanConroy commented on #17
Every call to InvokeEvictionCallbacks is wrapped in the ReaderWriterLock in MemoryCache so it looks impossible to invoke more than once

[2015-12-16 23:04] ardalis opened #133 "Add Doc Comments to IDistributedCache and its Implementations"
They exist for IMemoryCache but not IDistributedCache. Be sure to say when it's required to call Connect and/or ConnectAsync, since most of the samples never call this method.

[2015-12-17 16:22] BrennanConroy commented on #17
#126 and #132

[2015-12-17 16:22] #17 closed

[2015-12-21 11:15] GVX111 opened #134 "Bug of caching"
Error
<pre>   at Microsoft.Extensions.Caching.Memory.CacheExtensions.TryGetValue[TItem](IMemoryCache cache, Object key, TItem& value)
   at Microsoft.Data.Entity.Query.Internal.CompiledQueryCache.GetOrAddQuery[TResult](Object cacheKey, Func`1 compiler)
   at Microsoft.Data.Entity.Query.Internal.QueryCompiler.CompileQuery[TResult](Expression query)
   at Microsoft.Data.Entity.Query.Internal.QueryCo

[2015-12-21 11:41] davidfowl commented on #134
That's not enough information. Try following the bug template https://github.com/aspnet/Home/wiki/Functional-bug-template

[2015-12-21 15:38] #134 closed

[2015-12-28 18:21] muratg commented on #131
@kichalla Do you remember why we don't have Disconnect?  Per another issue, we don't even use Connect often in the samples so perhaps this is not required?

[2015-12-28 18:22] muratg commented on #133
Agreed.

@Eilon Should we have another sweep at the API docs in RC2?

[2015-12-28 18:24] muratg commented on #122
@pranavkm Would we make the extension method generic as well?

[2015-12-28 18:30] pranavkm commented on #122
I think the current extension methods would stay around as is (aren't they all generic extensions for the non-generic cache methods?)

[2015-12-28 19:22] muratg commented on #131
Just talked to @lodejard. Triaging this for RC2.

[2015-12-28 22:53] Eilon commented on #133
@muratg at this point I would do repo-specific sweeps. The only sweep we did so far was based on what the templates use, and that hasn't changed much.

[2015-12-28 22:59] muratg commented on #133
Cool.  BTW for this particular issue, @kichalla will be removing `Connect` and `ConnectAsync` methods from the interface. They are really just convenience methods for Redis cache (and will be private for that implementation.)

@kichalla please close this issue once that change is done.

[2015-12-28 23:17] kichalla opened #135 "Remove Connect and ConnectAsync methods from IDistributedCache interface"
@lodejard brought up a good point of the need of having a Connect method on the interface. They seem to be implementation details for the particular distributed cache implementation (ex: RedisCache). SqlServerCache and LocalCache(distributed MemoryCache) do not require them.

https://github.com/aspnet/Caching/blob/dev/src/Microsoft.Extensions.Caching.Abstractions/IDistributedCache.cs#L10-L12

cc @

[2015-12-28 23:19] kichalla commented on #135
I have the following PR with the changes
https://github.com/aspnet/Caching/pull/136

[2015-12-31 19:02] Eilon commented on #131
@lodejard putting on your plate.

[2015-12-31 19:04] Eilon commented on #135
@lodejard putting on your plate to review @kichalla 's PR at https://github.com/aspnet/Caching/pull/136 and merge.

[2016-01-04 06:28] basitanwer commented on #135
Guys why are we removing the Connect methods from IDistributedCache ?

I understand that SqlServerCache and LocalCache(distributed MemoryCache) do not require them but in reality they are not distributed caches.

[Redis](http://blogs.msdn.com/b/appfabric/archive/2015/04/02/windows-server-appfabric-1-1-ends-support-4-2-2016.aspx), [NCache](http://blogs.msdn.com/b/appfabric/archive/2015/04/02/window

[2016-01-05 17:55] sebastienros opened #137 "Please add ISignal by default"
There is an implementation here:  https://github.com/aspnet/Mvc/blob/dev/test/WebSites/HtmlGenerationWebSite/ISignalTokenProviderService.cs

I can copy it but I would suggest to add it OOB. The scenario is that multiple keys might depend on the same logical dependency, and this is a way to invalidate all of them. It's a very common used pattern in Orchard, so I assume it would be to with other app

[2016-01-05 21:53] satishbodke opened #138 "ASP.NET 5 distributed cache implementation on appfabric"
This is not the issue, wanted to clarify the question -

Are we going to have Caching implementation for AppFabric as well, the way we have implementation for Redis (Microsoft.Extensions.Caching.Redis)

Can I use my existing implementation of cache providers that was built and targeted .Net 4.5.1 using App Fabric (Microsoft.ApplicationServer.Caching.Client.dll, and Microsoft.ApplicationServer.Cach

[2016-01-05 23:01] sebastienros commented on #135
@basitanwer If you look at the PR you will see how it works for Redis too. NCache won't be different. You can still do your own pool if necessary.

[2016-01-05 23:11] sebastienros commented on #137
Talked to Lou and he said the implementation should not be part of Core. Added it in Orchard directly. Feel free to close.

[2016-01-05 23:18] #137 closed

[2016-01-06 22:04] Tratcher commented on #138
Not for v1, but we're open to suggestions after that.

ProviderBase providers will not be directly re-usable. New providers must implement IDistributedCache: https://github.com/aspnet/Caching/blob/dev/src/Microsoft.Extensions.Caching.Abstractions/IDistributedCache.cs.

[2016-01-10 01:41] villanus opened #141 "Donut Caching?"
is there going to be partial page caching?

[2016-01-10 02:22] Tratcher commented on #141
I think you're looking for this: http://www.davepaquette.com/archive/2015/06/03/mvc-6-cache-tag-helper.aspx

[2016-01-11 03:33] villanus commented on #141
That looks like a replacement for the output chaching which was before handled by IIS.  This caches a complete page.  I would be curious to know when running on linux / nginx why we would not let nginx handle this.???

My question was more on Donut caching, which enables you to cache only certain parts of a view into memory.  say you have a site where the footer is generated via c# code from data

[2016-01-11 06:15] Tratcher commented on #141
@DamianEdwards?

[2016-01-11 14:41] villanus commented on #141
Doesn't @DamianEdwards have enough on his plate?

The more I think about it, I think MSFT docs team should really create a couple path scenarios.
AWS does a good job with this, showing how you can use their infrastructure for different apps.

From the ASP.net 5 Perspective, it would be really cool to have an interactive flow chart on what choice of framework (Full Not Net, Cross Platform .net, and

[2016-01-11 14:43] villanus commented on #141
BTW,
What I am really asking about in the question is a mechanism to Cache Partial Views.

This would also have to work with Web Pages (which I love WAY more than MVC, and thus far has been given a beack seat).

[2016-01-11 18:21] muratg commented on #141
@villanus Did you check the page @Tratcher shared with you?  It caches whatever you put between the cache tags (which are tag helpers).  An example from that page:

[code]

[2016-01-11 18:23] muratg commented on #138
@satishbodke Thanks for the suggestion.  Putting this in backlog for now to consider post V1.

[2016-01-11 18:25] muratg commented on #133
Methods removed, so closing this one.

[2016-01-11 18:25] #133 closed

[2016-01-11 18:25] muratg commented on #122
@pranavkm could you check with @lodejard to see if he wants to do this in V1?  Otherwise we should move to backlog.

[2016-01-11 19:02] pranavkm commented on #122
Had another hallway chat and we the plan was to prototype what `IMemoryCache<TKey, object \ TValue>` would look like. That might be relatively less complicated for scenarios like `PostEvictionDelegate`

[2016-01-11 20:25] pranavkm commented on #122
@Eilon wants us to hold off on this change for API stabilization. Moving this to backlog.

[2016-01-11 21:42] Eilon commented on #122
Moving to real backlog.

[2016-01-12 09:38] villanus commented on #141
I did.  It seems like a broken way to do things since it doesn't support distributed cache.  we can close the issue the way i worded it because it should really be titled support partial caching (distributed or azure redis cache)

in my apps in the past we have used full page caching by placing nginx in front of a set of IIs servers, and the  used client side JavaScript to generate the uniqe items

[2016-01-12 20:36] Tratcher commented on #141
The use of local cache was deliberate.
A) Local cache has more powerful expiration mechanisms.
B) In a farm scenario with rolling deployments you don't want to share cached views from different versions of the application.

[2016-01-12 22:24] danroth27 opened #143 "sqlservercache command fails to run due to runtime compatibility check"
[code]

[2016-01-12 22:24] danroth27 commented on #143
This appears to be because sqlservercache targets net451 and dotnet5.4 instead of dnx451 and dnxcore50.

[2016-01-13 17:47] villanus commented on #141
@Tratcher what if every server in a farm is on the same version?   Sort of like how you would use Redis for Session storage, or even SQL?

Is there an advantage of using a local memory cache?  Seems like each Server would be creating the same exact cache items?  And if that server goes down, there is warm up time associated with getting the cache rebuilt?

[2016-01-13 18:05] Tratcher commented on #141
Not ever server in the farm will always be on the same version unless you shut them all down during upgrades.

See the comment about expirations. E.g. you can link the memory cache entry to file change notifications or other events. That's much harder for distributed cache. Memory cache is also much faster.

[2016-01-13 18:28] muratg commented on #143
@danroth27 Did you try with RC2?

[2016-01-13 18:48] danroth27 commented on #143
I tried the rc1 version of the tool with the rc2 dnx. Still doesn't work.

[2016-01-13 21:13] muratg commented on #143
I guess once we have the new TFMs and update all our project.json files, we'd be testing this once more.

[2016-01-13 21:50] kwaclaw commented on #107
Why has the MemoryCache.AddOrGetExisting() API been removed? It allowed me to perform an atomic  Get or Add operation.

[2016-01-13 23:21] Tratcher commented on #107
Because it wasn't actually atomic and was giving developers the wrong impression.

[2016-01-15 00:54] villanus commented on #141
@Tratcher I am not understanding this.   Perhaps because I a mornon.
The way we do it right now is do a git commit and then pull the latest changes to our production changes.   So everything is in sync.

For example say you are running a traditional IIS webfarm, or using a reverse proxy AAR, Nginx or whatever.   If your content is different on the back end servers you are going to be in a world of

[2016-01-19 22:12] Eilon commented on #129
Moving to backlog.

[2016-01-21 22:11] victorhurdugaci opened #144 "Convert the sql-cache command to dotnet"

[2016-01-23 22:49] Gonkers opened #146 "Maximum Key Length on Primary Key"
The ID on the caching table is nvarchar(900); with a maximum key length of 900 bytes won't the ID column have a max size of 1800 byes?

When executing the create table statement, SQL Server does generate a warning.
`Warning! The maximum key length is 900 bytes. The index 'pk_Id' has maximum length of 1800 bytes. For some combination of large values, the insert/update operation will fail.`

[2016-01-26 21:35] #135 closed

[2016-01-29 19:28] #131 closed

[2016-02-01 17:03] muratg commented on #143
Assigning to @BrennanConroy. Hopefully we'll get the new TFMs in soon.

[2016-02-02 18:43] muratg commented on #146
Per [this article](https://msdn.microsoft.com/en-us/library/ms186939.aspx?f=255&MSPPError=-2147217396) the actual size in byte would be 900*2+2 == 1802 bytes.

Where do you hit this issue?  When using sqlconfig?

@kichalla Any ideas?

[2016-02-02 22:22] blakepell commented on #96
I was curious about the same thing.  Further, from a diagnostics perspective I wanted to know everything that was in the cache (the argument of whether or I should or shouldn't iterate over cache keys aside).  If I cast IMemoryCache that was injected as MemoryCache I was able to get the Count property but no keys exposed.  Looking at the MemoryCache class there was just a Dictionary behind it like

[2016-02-03 00:37] #144 closed

[2016-02-03 02:30] blakepell opened #149 "How would one inspect the contents of the cache?"
The Dictionary list of Keys is not exposed in the MemoryCache class like it was in previous implementations (I believe this currently tracked in the _entries variable).  I understand, the argument is that the list could be stale or even go stale as you iterate through it (I still think the benefit outweighs the known risk).

My issue is, how would someone inspect the contents of the cache in a dia

[2016-02-04 07:16] Gonkers commented on #146
I was investigating how the code worked. I received the warning when I ran the formatted `CREATE TABLE` SQL command in SQL Server Management Studio.

`Caching/src/dotnet-sql-cache/SqlQueries.cs`
[code]

[2016-02-04 16:45] muratg commented on #146
Assigning to @kichalla for investigation

[2016-02-04 17:57] muratg commented on #149
I don't think exposing the keys is the right default, because of the risks. Folks will just use it without knowing the risks.

If you really want to do this, I think instead of forking the code and exposing it in your fork, I recommend writing a wrapper which basically saves and deletes the keys in Set and Remove operations after calling our cache's respective methods.

[2016-02-04 19:35] blakepell commented on #149
There are lots of useful things that people _could_ misuse.

Is this not something that could be explained briefly in the XML comment that Intellisense would then render?  E.g. "Returns dictionary enumerator used to iterate through keys in the cache.  This is a blocking call with the keys as of a point in time.".  That makes it's behavior clear and allows me to accept the now known risk.

Writing

[2016-02-04 19:52] muratg commented on #149
Inviting @lodejard to chime in too.

cc @Eilon

[2016-02-04 19:55] Eilon commented on #149
My *philosophical* view is that it's definitely a wrong API to have. This type of cache is deliberately unpredictable so listing keys is not logical.

But the diagnostics scenario is definitely interesting. Would it make more sense to just have some diagnostics feed of data from the cache system? Then anyone wishing to introspect into the cache could go through some different API? You could even m

[2016-02-04 20:36] blakepell commented on #149
I would welcome an alternative API route, that would alleviate my issues.  That data would be incredibly useful in debugging and fine tuning (and getting additional data like size is more than we've had in the past).  Knowing hits and misses or even the life of some objects and be useful in finding misuses of the cache.

Would you see the separate API including the keys (or at least where the obje

[2016-02-04 21:44] Tratcher commented on #149
Something like DiagnosticsSource? https://github.com/aspnet/Caching/issues/129

[2016-02-04 21:47] Eilon commented on #149
@Tratcher not *like* it, but *exactly* it :smile:

[2016-02-05 17:11] muratg commented on #149
Yeah, https://github.com/aspnet/Caching/issues/129 seems to be the right way for diagnostics. @blakepell Would the general proposal outlined there would be helpful to you?

[2016-02-05 18:43] blakepell commented on #149
@muratg - Yes, very much so.  #129 as it reads would cover want I wanted to address (and more).

[2016-02-05 19:08] muratg commented on #129
cc @blakepell

[2016-02-05 19:09] muratg commented on #149
Cool, tagged you in that issue so that you're notified when the issue changes.  Closing this one.

[2016-02-05 19:09] #149 closed

[2016-02-08 23:55] Eilon opened #150 "Need doc comments on options properties"
E.g. https://github.com/aspnet/Caching/blob/dev/src/Microsoft.Extensions.Caching.Redis/RedisCacheOptions.cs

[2016-02-12 20:57] Eilon opened #152 "Caching APIs for adding services need to take in config lambda"
The various `services.AddXYZCaching()` methods are all parameterless - they need to take in a configuration lambda. Right now you have to call `services.Configure<XYZCacheOptions>(options => { options.FooSetting = "value"; });` to configure them.

E.g.:
* https://github.com/aspnet/Caching/blob/dev/src/Microsoft.Extensions.Caching.Redis/RedisCacheServicesExtensions.cs#L22
* https://github.com/aspne

[2016-02-12 20:58] Eilon commented on #152
@divega @HaoK @lodejard @davidfowl @DamianEdwards I wonder if we have more inconsistencies around? I presume we need to have someone take a look at all our services extension methods?

[2016-02-12 22:19] divega commented on #152
Adding @rynowak who last time did a great job getting all these ducks in a line :smile:

[2016-02-16 16:00] rynowak commented on #152
I'm here! Yeah, we should take a look. I seem to recall identifying 3-4 things that needed to change before... I'll see if I can dig up that mail. Wouldn't hurt to do a fresh pass too. I'll follow up on that and open issues.

[2016-02-19 15:47] SimonOrdo opened #154 "Manual output cache busting?"
Is there any way to clear/flush/remove OutputCache?

I have html fragments in a partial view that uses the output cache like so

[code]

In the event that I need the content to be updated before the expiration of the cache, how do I go about busting the cache for that particular fragment (or the entire cache, if necessary) ?

[2016-02-19 15:50] Tratcher commented on #154
This issue was moved to aspnet/Mvc#4117

[2016-02-19 15:50] #154 closed

[2016-02-21 07:09] ardpx opened #155 "Will there be GetEnumerator() for MemoryCache ?"
Just wonder if there would be GetEnumerator() for MemoryCache, as supported in System.Runtime.Caching.Memorycache?

[2016-02-21 07:10] Eilon commented on #155
No current plans for it. The idea is that the moment after you enumerate - or even *while* you enumerate, the cache may have purged some of the entries.

Can you share more about why you want this?

BTW we are looking at adding more diagnostic-related info to the cache system.

[2016-02-21 07:19] ardpx commented on #155
I am trying to build the cache like replica of the db table, so that it avoid frequent db hit in my project of device farm monitoring and management. And there's also one API which needs to read all the device info from the cache.
It's okay in my case to read the stale data even if it's polluted right after getAll(), as I just need a snapshot of the farm status at some time.

[2016-02-21 07:31] Eilon commented on #155
Have a look at https://github.com/aspnet/Caching/issues/129. Would that solve some of your needs?

[2016-02-21 20:26] ardpx commented on #155
Seems not really, as I was looking for using cache as replica of authoritative master and control when to write the cache to DB. So I need 'select *' from cache as from db table.

[2016-02-29 17:29] muratg commented on #155
@ardpx If you have a single entry point where you insert data, you can populate a list of keys yourself, right?  Making this general, is kind of dangerous for the issues Eilon outlined above.

[2016-02-29 17:39] muratg commented on #150
@HaoK could you have a look?

Also, didn't you remove IOptions, or is it still WIP?

[2016-02-29 17:52] HaoK commented on #150
Still making sure the pattern is acceptable. Once it's been agreed on I will update all the repos this week.

[2016-03-02 23:10] muratg commented on #152
@rynowak Did you get a chance to look into this?

[2016-03-03 00:20] Eilon commented on #152
@muratg we have a meeting on this tomorrow, I'll add you to it.

[2016-03-03 07:27] javiercn commented on #152
@eilon I'm already covering this as part of https://github.com/aspnet/Caching/pull/156/files. Se might need to add options to inmemory

[2016-03-03 07:32] javiercn commented on #152
Actually, inmemory needs the options flavor. I've been looking at this specifically on all the repositories where I've normalized the service collection extensions.

For inmemory specifically, I'm not sure what the value for the IClock implementation would be. I believe that fits better as a service.

[2016-03-04 21:03] sebastienros opened #160 "Tokens are not propagated to the parent scopes"
This prevents nested scopes from invalidating dependent entries.

[2016-03-08 03:41] javiercn commented on #152
a6c044c1590b16c98df1cc6d01eca1140a86ee99

[2016-03-08 03:41] #152 closed

[2016-03-09 20:53] klepeis opened #161 "Distributed Memory Caching"
The dev branch has a class for distributed memory caching.  I was just wondering if distributed memory caching is slated to make it out in the RTM release of vNext?  If it is not going to be in the RTM release:
1) Is this something that is just being thought about or is it definitely on the product road map?
2) Any ETA on when this will make it to release?

Thanks

[2016-03-09 21:10] Tratcher commented on #161
`MemoryDistributedCache` right? That's just an implementation of `IDistributedCache` for use in non-distributed environments. It's primarily intended for local development and testing, but may also be used in single node deployments. Yes it will be included for RTM. The schedule is here: https://github.com/aspnet/Home/wiki/Roadmap

[2016-03-09 21:29] klepeis commented on #161
Thanks.  The readme had this in it:

The wording had me wondering if we would be getting distributed memory caching for a multi-node environment.

Thanks!

[2016-03-09 21:29] #161 closed

[2016-03-10 17:23] sebastienros opened #162 "We should remove IMemoryCache.Remove"
To remove entries the supported scenario is to add a token (like a CancellationTokenSource) in he options of the entry.

[2016-03-10 17:25] sebastienros commented on #155
This class is not supposed to provide `GetEnumerator` and I also opened https://github.com/aspnet/Caching/issues/162 which is somehow related.

[2016-03-10 17:25] sebastienros commented on #162
@lodejard Will confirm if necessary.

[2016-03-10 17:57] Tratcher commented on #162
And IDistributedCache?

[2016-03-10 17:58] lodejard commented on #162
Distributed cache and memory cache are different

[2016-03-11 21:58] HaoK commented on #150
13f22e8a3d5747b9ab5ff43205cabc2f988bc9d7

[2016-03-11 21:58] #150 closed

[2016-03-13 23:22] Eilon commented on #162
Though I think there is merit to this proposal, it would make IMemoryCache too difficult to use in the most common cases people are familiar with.

[2016-03-13 23:22] #162 closed

[2016-03-13 23:22] Eilon commented on #162
(Plus, a massive API change.)

[2016-03-15 22:43] BrennanConroy commented on #143
Since this isn't how commands are run anymore I'm closing this.
I did check if the command could run though and did eadd03f74bb49cc70ba63b685a610e5877b354b9 as a result

[2016-03-15 22:43] #143 closed

[2016-03-15 23:58] muratg commented on #143
Sounds good, thanks!

[2016-03-16 17:38] sebastienros commented on #162
You terrorists !!!!

[2016-03-16 22:06] sebastienros commented on #141
@villanus There is now a distributed cache tag helper here: https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.TagHelpers/DistributedCacheTagHelper.cs

It's also designed in a way you can redefine what storage is used, and alter what is stored like applying encryption and compaction by implementing specific services.

[2016-03-22 20:45] shanselman commented on #91
Yes, we need to be able to do "StringSet" for example, if Redis is underneath IDistributedCache...

[2016-03-22 21:15] shanselman opened #169 "IDistributedCache should include StringSet/SetString"
Right now IDistributedCache is a generic interface that's presumably meant to support lots of distributed caches. It's pretty clear, though, that Redis is going to be 80% or more of the usage. Not to mention Azure has a Redis As A Service.

IDistributedCache has SetAsync which just takes bytes...as it is there's no easy way to add overloads/extensions to get at the underlying Redis implementation

[2016-03-22 21:19] Tratcher commented on #169
It's worth noting that we don't just store the bytes, we store our own complex object containing the expiration information: https://github.com/aspnet/Caching/blob/dev/src/Microsoft.Extensions.Caching.Redis/RedisCache.cs#L81-L88
So even if we added a string version, I don't know if you'd be able to view it from the CLI. Have you tried to hack it in yet?

[2016-03-22 21:51] mgravell commented on #169
Hacky but possibly workable:

    static Task SetAsync(this IDistributedCache cache, string key, string value) {
        return cache.SetAsync(key, Encoding.UTF8.GetBytes(value));
    }

On the CLI front: looking at that script, as long as the caller knows to use `HGETALL {key}` rather than `GET {key}`, that should actually be usable and readable. Unlike our even hackier in-house middleware that i

[2016-03-22 22:53] shanselman commented on #169
Thanks Marc...I guess after "the basics" everyone starts piggybacking
metadata on top or putting it in the serialization format, don't they?

HGETALL works for my basic learning/teaching scenario, thanks!

On Tue, Mar 22, 2016 at 2:51 PM, Marc Gravell <notifications@github.com>
wrote:

--
Scott Hanselman
Donate to fight diabetes: http://hnsl.mn/fightdiabetes

[2016-03-23 16:18] muratg commented on #160
@sebastienros Any updates on this one?

[2016-03-23 16:19] sebastienros commented on #160
c.f. https://github.com/aspnet/Caching/pull/168

[2016-03-25 18:14] #160 closed

[2016-03-28 20:53] muratg commented on #169
Putting to 1.0.0 so that we can reconsider after RC2 ships

[2016-03-29 19:52] #146 closed

[2016-03-30 01:18] Haplois opened #171 "We should be able to retrieve the keys from cache"
I believe we should be able to retrieve keys of all current data from cache, or at least some way to purge it. Am I missing or there is no such method exists on MemoryCaching?

[2016-03-30 15:34] Eilon commented on #171
Duplicate of https://github.com/aspnet/Caching/issues/155.

[2016-03-30 15:34] #171 closed

[2016-04-01 14:12] Luca7993 commented on #155
I would need the getenumerator too.
In my case I need to retrieve all items that starts with a particular string constant.
For the moment, I keep a list of keys added to the cache as suggested, but I think it's better to have enumerator and retrieve the Keys without using an external list

[2016-04-04 23:02] NTaylorMullen opened #174 "Remove VSRC1 projects"
Once we have successfully signed bits we should remove the VSRC1 projects.

Commits to revert (in dev and release):
https://github.com/aspnet/Caching/commit/88cd18e169a3c3a0f284f13ec3530de18e2a901d
https://github.com/aspnet/Caching/commit/8a39f14ea115a2888e85bb5f7b5406d5bebd04da
https://github.com/aspnet/Caching/commit/fe08daa4ea2693b943c4e771d09a77fef87b9377

[2016-04-06 13:13] RehanSaeed commented on #96
+1 to adding a `Clear()` method to `IMemoryCache and `IDistributedCache`.

I now expose a cache clearing method in my controllers as a matter of course. This stops you having to use the nuclear option of restarting the site to clear `IMemoryCache` or having to go off to Redis to clear `IDistributedCache`.

[2016-04-07 09:24] rmja opened #176 "MemoryDistributedCache should prefix keys to avoid conflicts with IMemoryCache"
I am having a scenario where I first look in a local `IMemoryCache` for a hit, and if not found, go to a distribted `IDistributedCache`. If the key is found in the distributed cache, I store is locally for a short time in the `IMemoryCache`.
This works perfectly when `IDistributedCache` is e.g. a Redis cache, but when the implementation is `MemoryDistributedCache`, then the keyspace for the two ca

[2016-04-07 12:21] Tratcher commented on #176
Is the data stored the same, or are they in different formats due to serialization requirements? If it's the same data this seems like a harmless side-effect for local scenarios.

You could just as easily apply the prefixes in your code.

One other mitigation would be to ensure they are using different instances of IMemoryCache. You can adjust the DI registrations for this.

[2016-04-07 16:35] davidfowl commented on #176
I think this is a reasonable request.

[2016-04-07 16:38] Tratcher commented on #176
Note just appending "distributed." to each key only lowers the odds of a collision. You'd need to use a unique identifier per instance of MemoryDistributedCache.

[2016-04-07 16:40] rmja commented on #176
@Tratcher that is the problem. The local one is having the instance to cache directly, where the distributed one has a serialized version. So when finding the cache hit I get invalid cast exception.

[2016-04-07 16:56] rmja commented on #176
@Tratcher well that depends. That would only cause a collision if my key already ended with "distributed", where when there is no pre/suffix, then I have collision in 100% of the cases.

And it seems wrong from a user perspective that the local and distributed cache must not use the same key.

[2016-04-08 08:52] Ulriksen commented on #176
The key must be unique, having a possiblity for collision between local and distributed keys will create hard to find bugs.

Having the same key space for both local and distributed cache seems like a bad idea.

[2016-04-12 15:46] RehanSaeed commented on #96
For those looking for a workaround, I have written and tested the following helper class with a `ClearAsync` method.

public class DistributedCacheExtended : IDisposable
{
    private readonly RedisCacheOptions redisCacheOptions;

    private ConnectionMultiplexer connection;
    private IDatabase cache;

    public DistributedCacheExtended(IOptions<RedisCacheOptions> redisCacheOptions)
    {

[2016-04-12 16:01] RehanSaeed commented on #84
I posted an `IDistributedCache` helper which clears the cache and also bulk removes keys [here](https://github.com/aspnet/Caching/issues/96).

[2016-04-14 11:53] RehanSaeed commented on #169
I wrote a full set of extension methods for `IDistributedCache` which includes Get/Set String, as well as Get/Set anything of type T (Serializes/Deserializes T to/from JSON and stores it as a string). It can be found:

- [Here](https://github.com/RehanSaeed/ASP.NET-MVC-Boilerplate/blob/master/Source/MVC6/Boilerplate.Web.Mvc6/Caching/DistributedCacheExtensions.cs) on GitHub
- In the [Boilerplate.We

[2016-04-19 22:13] moozzyk opened #181 "Missing error handling / unclear error message"
[code]

[2016-04-26 19:48] #181 closed

[2016-05-06 13:48] barbarosalp commented on #86
- Custom middleware
- Read querystring or something else
- Cache it with IMemoryCache.

[2016-05-06 17:00] troydai opened #184 "Update value under concurrency fails when a cancellation token is registered."
### Scenario:
1. Set up a memory cache.
2. Add an entry with a cancellation token registered with it.
3. Start a child thread which keep reading the memory cache with the same key.
4. Reset the value of the entry from main thread.
5. Exception `InvalidOperationException` is thrown.

### Issue repo:
https://github.com/troydai/CachingIssues/blob/2a85107b9b572c47d66d2a0303deafecaeaa3166/TestActions/C

[2016-05-06 17:08] Eilon commented on #184
@troydai thanks - can you add a bit more info to this bug?

[2016-05-06 17:16] sebastienros commented on #169
If think this should just be an extension method as Marc is suggesting and not at the interface level. The result is the same in the end for the end user. Having a set of primitive conversions like Rehan has done would be nice too.

[2016-05-06 17:20] sebastienros commented on #176
Could the default implementation for `IDistributedCache` have it's own local cache storage instead of resolve the registered one? I assume we don't really care about have it use the same concrete registered implementation of `IMemoryCache`. The contract today is to have it work locally, not that it has to use the DI one.

[2016-05-06 17:27] troydai commented on #184
Yes. I'm adding except stack to the description. I did talk with @Tratcher and @sebastienros before I file the issue. He's has a rough idea what probably break this scneario.

[2016-05-06 22:30] Grauenwolf commented on #96
This is what I currently have to do with System.Runtime.Caching:

    public void CacheBuster()
        {
            //Unfortunately Cache doesn't have a Clear method, so we have to do this the hard way.

            var memoryCache = Cache as MemoryCache;
            if (memoryCache != null)
                memoryCache.Trim(100); //this will clear most, but not all, of the cache.

            //

[2016-05-06 22:35] Grauenwolf commented on #169
If it is at the interface level, the cache provider can control how serialization works. For example, the cache may prefer to represent the data in XML or JSON format instead of binary.

[2016-05-06 22:40] Grauenwolf commented on #155
There are many times when I would love the be able to read (or delete) all of the cache entries based on a prefix. For example, I sometimes want to clear every cache entry containing a Product object because a user just changed our discount rates.

Ideally I would write `.ClearByPrefix("Product: ")`.

Currently I just clear the whole cache, which of course removes unrelated items.

[2016-05-09 23:14] troydai opened #186 "Add sql caching tools dependency to sql server caching sample"

[2016-05-10 12:35] pebezo opened #187 "Key export / bulk remove / clear for MemoryCache"
When it comes to working with the internal keys, the way MemoryCache / IMemoryCache works is too limiting. Yes, I can remove by key, but there are lot of scenarios where we need to remove items from the cache without knowing the exact keys. For these cases we would have to keep a copy of those keys in a separate list (extra RAM usage and maintenance) or go back to the database (if there is a copy

[2016-05-10 15:17] muratg commented on #187
@pebezo Thanks for the suggestion, although I think a public API like that would be a pit of failure. As this is a cache only, keys and their corresponding values could disappear under you.

You could get this functionality by wrapping our cache. Basically store all the keys as you interact with a cache, and do whatever with them later.

[2016-05-10 15:51] pebezo commented on #187
"keys and their corresponding values could disappear under you"

Even if the operation is atomic? MemoryCache is very useful for small datasets, but not having a way to get the keys back would more than likely force us to use Redis (which is an overkill for small sets)

http://redis.io/commands/KEYS

I would argue that asking people to wrap MemoryCache is an even deeper pit of failure. You'd be as

[2016-05-10 16:30] davidfowl commented on #187
@pebezo What's atomic?

[2016-05-10 16:34] Tratcher commented on #187
Related:
https://github.com/aspnet/Caching/issues/96
https://github.com/aspnet/Caching/issues/155

[2016-05-10 17:17] pebezo commented on #187
@davidfowl Wrapped around a "lock" like here:

https://github.com/aspnet/Caching/blob/dev/src/Microsoft.Extensions.Caching.Memory/MemoryCache.cs#L167

[2016-05-11 02:25] pebezo commented on #187
Was `Compact()` intended to be public?

https://github.com/aspnet/Caching/blob/dev/src/Microsoft.Extensions.Caching.Memory/MemoryCache.cs#L350

It's not part of the interface:

https://github.com/aspnet/Caching/blob/dev/src/Microsoft.Extensions.Caching.Abstractions/IMemoryCache.cs

A RemoveAll() function would be very similar -- much simpler.

[2016-05-11 10:11] muratg commented on #187
@pebezo

 Even if the operation is atomic? MemoryCache is very useful for small datasets, but not having a way to get the keys back would more than likely force us to use Redis (which is an >overkill for small sets)

Even if you get the names of all keys at once, some (or all) of them may be deleted by the time you want to use them.

[2016-05-11 11:06] basitanwer commented on #169
`Redis is going to be 80% or more of the usage`

While this maybe true at the moment but nobody can predict the future. For a specific use case we can't/shouldn't change an interface which is an abstraction.

[2016-05-11 12:43] ChrisProlls commented on #169
Just by curiosity, why IDistributedCache has no extensions methods for storing objects ? Something like Get<Type>(string key) or Set<Type>(string key, Type value) ?

[2016-05-11 14:34] Tratcher commented on #169
@ChrisProlls just because we haven't needed them yet. Session is one of the only consumers at the moment and it uses it's own serialization logic.

[2016-05-11 16:31] Grauenwolf commented on #169
Another use case is two-level caching.

Some caches may want to keep a subset of your object in a local cache so that it can quickly give it back to you.

The current design requires a potentially expensive deserialization process even if the object doesn't need to be fetched over the wire.

[2016-05-11 16:41] Grauenwolf commented on #169
I don't see this interface as an abstraction at all, and that's the problem.

Instead it is specifically written for caches that use binary as their communication protocol and for cache consumers that want to control serialization.

We need a generic contract for distributed caches that can be used beyond that very narrow scenario and this isn't it.

[2016-05-11 16:46] sebastienros commented on #169
@Grauenwolf This specific interface is not designed to support your scenario obviously, and that's fine. I suggest you create a custom service that could reuse `IDistributedCache` and `IMemoryCache` to fulfill what you need. The implementation would only have the fallback logic you are mentioning, so it should be pretty simple. Having a service that does all the things anyone could require would b

[2016-05-11 17:16] pebezo commented on #187
@muratg But that's the expect behavior with or without this feature. When you get (or remove) something out of the cache based on a key that element may or may not be in the cache: TryGetValue(). How does extracting a list of all the keys change any of that?

[2016-05-12 06:58] basitanwer commented on #169
I agree to @Grauenwolf and sort of with @shanselman as well

`void Set(string key, byte[] value, DistributedCacheEntryOptions options);`

is very specific. While I would suggest the value should not be string but would also agree that it should be something other than a byte array. Would the type `object` suffice here ?

The better implementation IMHO would be to create a custom object and make it

[2016-05-12 15:08] muratg commented on #169
@basitanwer How would the recommended method serialize a random `object`?

[2016-05-12 17:54] #184 closed

[2016-05-12 20:09] Grauenwolf commented on #169
If this interface isn't meant to be a generic caching abstraction then it shouldn't be called "Microsoft.Extensions.Caching". Call it "Microsoft.Extensions.CachingForAspOnly" so that its purpose is clear.

And then start a project so that we have a real generic caching framework.

[2016-05-12 20:12] Grauenwolf commented on #169
As for serializing generic objects, that would be adapter specific. But in general, it should default to using DataContract attributes and the associated SOAP or JSON serializer.

And that's part of my point. Serialization should be an infrastructure concern and not bleed into the application code. Otherwise it isn't really an abstraction.

[2016-05-12 20:17] Grauenwolf commented on #169
That's not really possible. Once the object is a binary array it becomes a black box. So implementing the interface won't work.

 I could layer my own interfaces above those two, but then we're back to everyone making up their own, incompatible interface. And the whole point of having an interface is that everyone follows the same contract.

[2016-05-13 11:22] basitanwer commented on #169
@muratg : @Grauenwolf cleared my point. In case of objects either the default .NET serialize should be called or any custom. Under any circumstance the serialization should be part of the implementation/adapter not the application.

ASP.NET Caching if provides a caching framework where you can easily plug in different distributed caches then the framework should be generic not specific to Redis or

[2016-05-13 15:44] muratg commented on #169
@basitanwer What do you mean by "default .NET serialize"?  You can't serialize arbitrary objects. Object itself and all the objects in its graph has to be have Serializable attribute, or you have to provide a custom serializer.

[2016-05-13 16:05] Grauenwolf commented on #169
Nobody uses the Serializable attribute anymore. The DataContract serializer can use DataContract/DataMember attributes, but it isn't required. You just need a clear tree structure without loops.

Other serializers such as JSON use the same patterns and optional attributes.

[2016-05-13 16:13] muratg commented on #169
@Grauenwolf You also need a parameterless constructor. And if you don't use the attributes, only public surface would be serialized.

[2016-05-16 17:39] NTaylorMullen commented on #174
https://github.com/aspnet/Caching/commit/473d4b96b5661c8846b93ea2152a1aa00f5b643a

[2016-05-16 17:39] #174 closed

[2016-05-17 00:22] benaadams opened #191 "Add special case for WeakReferences"
WeakReferences make be GC'd prior to expiry; if there target has been GC'd they should be removed from the cache

[2016-05-17 07:08] Grauenwolf commented on #169
While that is true, it is also a well-known limitation. Anyone who uses WCF or ASP.NET WebAPI should already be very familiar with those rules and their implications.

[2016-05-18 13:29] PinpointTownes commented on #184
Since this ticket is marked for 1.0.0, I guess it was not fixed for RC2?

[code]

[2016-05-18 13:32] Tratcher commented on #184
Correct. You managed to reproduce it in the wild? We only managed in contrived background threading scenarios.

[2016-05-18 14:08] PinpointTownes commented on #184
Yep. Adding some "DB initialization" code at the end of `Startup.Configure` in a whole new MVC RC2 app seems enough to reproduce it *almost* consistently on my machine:

[code]

For reasons I can't explain (yet), this alternative pattern causes fewer exceptions:

[code]

[2016-05-18 14:14] PinpointTownes commented on #184
Luckily, it seems to only impact the very first request, so it's probably not critical (just a bit annoying :smile:)

[2016-05-18 17:46] muratg commented on #191
@sebastienros any risks you can see with this?

[2016-05-19 19:45] PinpointTownes commented on #184
@Tratcher curious: can you reproduce it or is it just me? :smile:

[2016-05-19 20:07] sebastienros commented on #184
We were able to reproduce, we added some unit tests along with the fix if you want some ways to repro.
If you update to the latest version of Caching then you should be covered.

[2016-05-20 01:22] PinpointTownes commented on #184
Yep, but it would imply migrating to the nightly builds and this is something I'd really like to avoid for a public sample.

[2016-05-20 12:27] emailtowalter opened #192 "add Microsoft.Extensions.Caching.Redis to VS2015 issue."
I got the following issue when I add Redis package to VS 2015. I am using RC2 .net core.

 "Package Microsoft.Extensions.Caching.Redis 1.0.0-rc2-final is not compatible with netcoreapp1.0 (.NETCoreApp,Version=v1.0). Package Microsoft.Extensions.Caching.Redis 1.0.0-rc2-final supports: net451 (.NETFramework,Version=v4.5.1)
    One or more packages are incompatible with .NETCoreApp,Version=v1.0.
"

[2016-05-20 14:03] Tratcher commented on #192
Redis is not yet supported on Core: https://github.com/aspnet/Caching/pull/147

[2016-05-20 14:03] #192 closed

[2016-05-20 22:51] JunTaoLuo opened #193 "More reliable cache operations"
As part of discussions while working on https://github.com/aspnet/Session/issues/99, there were proposals for adding logic in caching to make database operations more reliable. For example, sql database operations may fail intermittently. In this case it may be a good idea to add retry logic and allow users to specify retry policies. This probably needs some more design work.

cc @mikeharder @Trat

[2016-05-20 22:57] sebastienros commented on #193
`SqlConnection` already has this logic internally.
And I think it should be handled by the user, it would not just happen in the cache if it was an issue.

[2016-05-20 23:09] Tratcher commented on #193
When the failures are very provider specific I think there are some things that should be mitigated by the cache wrapper for those providers. E.g. Session is a major consumer of distributed cache and it can't know what different sql errors are retry able. Or Redis errors for that matter.

That said we have changed Session to suppress most errors, disable session for that individual request, and tr

[2016-05-20 23:10] Tratcher commented on #193
If SqlConnection has built in support for some of these scenarios, great. So long as it can be configured for the cache.

[2016-05-23 16:49] camp-007 opened #194 "Cannot set SlidingExpiration and AbsoluteExpirationRelativeToNow on RedisCache"
When using the RedisCache you can set both a SlidingExpiration and an AbsoluteExpiration.  For example, you can set a sliding expiration of 5 seconds and an absolute expiration of 60 seconds.  If the cached item is accessed every 5 seconds it will remain in cache up until 60 seconds from the original creation.

However, this only works if you are setting the DistributedCacheEntryOptions.AbsoluteEx

[2016-05-23 23:10] Tratcher commented on #194
Hmm, it should be cheched right here: https://github.com/aspnet/Caching/blob/67aef94080bc0302ece7a2b42f5a97ed68efdfa1/src/Microsoft.Extensions.Caching.Redis/RedisCache.cs#L326

[2016-05-24 01:49] camp-007 commented on #194
Correct, it is checked there in GetExpirationInSeconds(), however, that is only used to initially set the TTL/expiry on the redis key.  The way the sliding expiration works, is that each "Get" will use the GetAndRefresh() method to update the key TTL/expiry.  This is done by getting the SlidingExpiration and AbsoluteExpiration out of the metadata and passing them into the refresh method (shown her

[2016-05-24 02:10] camp-007 commented on #194
Here is a simple repro:

[code]

[2016-05-24 16:29] Eilon commented on #169
@BrennanConroy looks like we just need to add Get/SetString.

[2016-05-24 16:37] Eilon commented on #169
BTW these should be extension methods on `IDistributedCache`, not methods on the interface.

[2016-05-24 16:39] Tratcher commented on #169
@BrennanConroy These can be copied from Session and go in Caching.Abstractions.

[2016-05-24 17:09] Tratcher commented on #194
Ah, you are correct. We'll get this fixed.

[2016-05-26 06:39] muratg commented on #176
@sebastienros Do you have time to look into this one?

[2016-05-26 16:47] sebastienros commented on #176
Yes, is there an agreement on my proposal? Or should I engage more devs?

[2016-05-26 17:13] Tratcher commented on #176
@sebastienros give this workaround a try:
`services.AddSingleton<IDistributedCache>(new MemoryDistributedCache(new MemoryCache())`

[2016-05-27 16:19] #176 closed

[2016-05-31 17:00] BrennanConroy commented on #194
Fixed in https://github.com/aspnet/Caching/commit/68829e287732b7ee7e7f2a504f47c5622c79a30b

[2016-05-31 17:00] #194 closed

[2016-05-31 17:33] BrennanConroy commented on #169
https://github.com/aspnet/Caching/commit/4e750c65d6d2b86bdf339cdf50ba815787e4c312

[2016-05-31 17:33] #169 closed

[2016-06-01 05:43] xatabhk opened #200 "Unable to resolve 'Microsoft.Extensions.Caching.Abstractions (>= 1.0.0-rc3-21156)' for '.NETFramework,Version=v4.5.2'"
Unable to resolve 'Microsoft.Extensions.Caching.Abstractions (>= 1.0.0-rc3-21156)' for '.NETFramework,Version=v4.5.2'

[2016-06-01 06:03] #200 closed

[2016-06-07 14:26] dolly22 opened #202 "Redis cache strange behavior"
I'm experiencing strange behavior of distributed redis cache when combined with Thread.Sleep (or another blocking workload). Simple repro case (ASP.NET Core RC2)

Startup.cs
[code]

HomeController.cs
[code]

I'm using Azure Redis Cache. When accessing this page multiple times in parallel, my results...

Hit at 7. 6. 2016 14:14:58, rendered 7. 6. 2016 14:15:18, cache get duration 510 ms
Hit at 7. 6

[2016-06-07 17:03] Tratcher commented on #202
@kichalla can you repro this?

[2016-06-07 17:09] kichalla commented on #202
Taking a look at it now.

[2016-06-07 17:39] kichalla commented on #202
I am unable to repro it. I used a locally hosted redis server in my case.

@dolly22 are you able to repro it consistently?

[2016-06-07 18:18] divega opened #203 "System.AppDomainUnloadedException when running UnitTests with RC2"
_From @Mertsch on June 3, 2016 12:20_

After the upgrade from RC1 to RC2 some of my Unit Tests which test against the DB fail with the following exception.
The behavior is reproducible, BUT only happens in a certain combination of tests. So I can't give a direct example as I am unable to find out which combination of my 90 tests causes this.
Fact is each tests runs fine on its own, all ran fine to

[2016-06-07 18:19] divega commented on #203
Moving to caching given the contents of the stack. @Tratcher this is the one I told you about.

[2016-06-07 19:02] Tratcher commented on #203
Is this running against net451 or CoreCLR?

RE: https://github.com/aspnet/Caching/blob/dev/src/Microsoft.Extensions.Caching.Memory/CacheEntryHelper.cs

[2016-06-07 19:03] Tratcher commented on #203
@sebastienros?

[2016-06-07 19:34] dolly22 commented on #202
@kichalla I am able to reproduce on another computer, even with locally hosted redis server.

Local server...
Hit at 07.06.2016 19:26:11, rendered 07.06.2016 19:26:31, cache get duration 0 ms
Hit at 07.06.2016 19:26:12, rendered 07.06.2016 19:26:51, cache get duration 18608 ms
Hit at 07.06.2016 19:26:14, rendered 07.06.2016 19:27:11, cache get duration 37174 ms

I have uploaded test project to htt

[2016-06-07 21:20] kichalla commented on #202
Thanks for the detailed repro.

We were able to isolate the issue to StackExchange's Redis client (ASP.NET's Caching uses this client behind the scenes). For example, in the following repro there is no ASP.NET Core component involved and checkout `Output.txt` file in the branch which shows the output that we see when running the repro.

https://github.com/kichalla/rediscacherepro/tree/stackexchang

[2016-06-07 22:03] dolly22 commented on #202
I think the problem is how StackExchange's Redis client is sychronously scheduling continuations
[ResultBox.cs#L110](https://github.com/StackExchange/StackExchange.Redis/blob/29b5cc180ac560b61009ec68ea20ae1d2a0052d0/StackExchange.Redis/StackExchange/Redis/ResultBox.cs#L110) (http://blog.stephencleary.com/2012/12/dont-block-in-asynchronous-code.html) and also requires the completion thread to finis

[2016-06-07 22:07] Tratcher commented on #202
OK, thanks for working that out. @dolly22 can you file a bug against stackexchange?
https://github.com/StackExchange/StackExchange.Redis/issues

[2016-06-07 22:07] #202 closed

[2016-06-08 09:17] Mertsch commented on #203
targeting net46 on system with net461 to be precise

[2016-06-09 16:22] muratg commented on #203
Interesting. When upgrading to RC2, I assume you upgraded xunit too?

Looks like something weird's going on with the appdomains which I think xunit uses.

[2016-06-09 16:29] Mertsch commented on #203
@muratg Actually it's MSTest I am not running under .NET Core, I am "only" using the framework inside a classic .NET app, tested with traditional MSTest

[2016-06-09 20:04] muratg commented on #203
@Mertsch You mean a .csproj based project instead of a project.json based one?

[2016-06-09 20:13] Mertsch commented on #203
@muratg Exactly.

[2016-06-12 02:16] xbuilder opened #205 "The Microsoft.Extensions.Caching.Redis is not support netcoreapp1.0?"
When I import `Microsoft.Extensions.Caching.Redis` package from nuget,error occured:

`The dependency Microsoft.Extensions.Caching.Redis 1.0.0-rc2-final does not support framework .NETCoreApp,Version=v1.0.`

My "frameworks" config in `project.json` just like this:
[code]

[2016-06-12 03:41] Tratcher commented on #205
Duplicate: https://github.com/aspnet/Caching/issues/121

[2016-06-12 03:41] #205 closed

[2016-06-12 05:03] xbuilder commented on #205
So what should I do to solve this problem?
![image](https://cloud.githubusercontent.com/assets/10357081/15989090/ed25b5f4-309d-11e6-8e0f-b579ed954a81.png)

[2016-06-12 05:06] davidfowl commented on #205
@xbuilder read the linked issue. It doesn't work on .NET Core yet and won't work until 1.0.1.

[2016-06-13 15:21] frankseibel commented on #203
I'm seeing the same issue. I have a plain old .NET class library using RC2 which I'm running MSTest tests against.

[2016-06-14 12:56] frankseibel commented on #203
Let me add a little more to what I'm seeing. I have about 140 unit tests against several MVC 5 (ASP.NET 4.6) controllers which reference a class library using Entity Framework Core 1.0 RC2. When running the unit tests it gets through about 5 of them before getting the AppDomainUnloadedException. I can then run the failed unit tests and get through another group before getting the exception again.

[2016-06-15 17:18] frankseibel commented on #203
We were able to get past this issue. It seemed that methods on our controllers were asynchronous and the tests were not waiting for the threads to complete before continuing. This wasn't an issue until we upgraded to RC2. I'm not sure why our tests worked before to begin with. Either way, once we waited for the threads to complete this issue went away.

[2016-06-17 06:11] FourLeafClover opened #207 "AspnetCore RC2 How add session"
Help!!!
I use the same way in rc1, but it not working in rc2

[2016-06-17 13:34] gdoron commented on #184
I face it a lot, every first request after I start the application.
Can it happen in production IIS server or it's only with VisualStudio-IIS-Express?

[2016-06-17 15:00] Tratcher commented on #184
@gdoron yes it can happen in production.

[2016-06-17 15:04] Tratcher commented on #207
See https://github.com/aspnet/Session/blob/dev/samples/SessionSample/Startup.cs#L23-L38

[2016-06-21 01:19] yzbai opened #208 "Redis is not supported for netstandard1.5 ?"
![default](https://cloud.githubusercontent.com/assets/2872145/16215070/388e3abc-3791-11e6-8215-ef866346248d.png)

[2016-06-21 01:26] BrennanConroy commented on #208
Duplicate: #121

[2016-06-21 01:26] #208 closed

[2016-06-21 01:36] yzbai commented on #208
When I create a new asp.net core web application on rc2,  just add ("Microsoft.Extensions.Caching.Redis": "1.0.0-rc2-final",) in project.json, the error appears.

It says, "The dependency Microsoft.Extensions.Caching.Redis 1.0.0-rc2-final does not support framework .NETCoreApp,Version=v1.0.

Did I do something wrong?

[2016-06-27 15:05] iscifoni opened #209 "SQLCache Set should allow a null timeout"
I have implemented sql cache:

[code]
but when I execute the code, I receive the error "Either absolute or sliding expiration needs to be provided.".
This because at line 33 of [Microsoft.Extensions.Caching.Abstractions/DistributedCacheExtensions.cs](https://github.com/aspnet/Caching/blob/dev/src/Microsoft.Extensions.Caching.Abstractions/DistributedCacheExtensions.cs) the  DistributedCacheEntryOpt

[2016-06-27 19:31] Tratcher commented on #209
The Redis and DistributedMemory cache implementations allows this, I wonder why the SQL one doesn't. @kichalla?

[2016-06-27 21:09] kichalla commented on #209
@iscifoni Thanks for reporting this. This behavior is not ideal. For now you could probably create a new  extension on `IDistributedCache` which sets these options.

[2016-06-28 22:31] #207 closed

[2016-06-30 23:01] Tratcher commented on #191
Something like this: a197fe6

[2016-07-05 05:24] vmsgsp commented on #203
We have the same issue. When calling DatabaseContext.Set<T>.SingleOrDefault<TSource>(this IQueryable<TSource> source, Expression<Func<TSource, bool>> predicate) we get the AppDomainUnloadedException below.

- Running synchronously, no threads, no tasks.
- MS Unit test.
- Did not happen with 7.0.0-rc. This problem just came up when migrating to EF Core 1.0.0.
- Same behavior as described by frankse

[2016-07-05 11:46] vmsgsp commented on #203
Now I found the root-cause in my case:
The exception occurs when tests of different MS test projects are run. All of the test projects are run within the SAME PROCESS. But every MS test project is executed in a DIFFERENT APP DOMAIN.
It seems that the MemoryCache still refers to items belonging to the previous app domain which already has been unloaded (when the previous MS test project run within

[2016-07-05 17:00] Tratcher commented on #203
@sebastienros?

[2016-07-05 22:09] #186 closed

[2016-07-11 20:37] murpheux commented on #143
Hi @danroth27 Did you find a fix to this? I am having same issues.

[2016-07-11 21:03] muratg commented on #143
@murpheux What's the version of the tool?

[2016-07-11 21:06] murpheux commented on #143
I have an ASP.Net project with dnx461 and I am running with dnx 1.0.0-rc1-update2 -arch x64

[2016-07-11 21:44] muratg commented on #143
@murpheux DNX was obsolete as of RC2. Now that ASP.NET Core 1.0.0 is released, I recommend moving your project to dotnet CLI/SDK. Follow the links on https://dot.net.

[2016-07-12 13:04] rmja opened #211 "GetOrCreate / GetOrCreateAsync on IMemoryCache creates cache entry even when factory throws"
It seems wrong that a cache entry is added with the value `null` when the factory method throws:

[code]

The expected behaviour should be that the value is not added to the cache if the factory throws.

[2016-07-12 20:06] Tratcher commented on #191
Open question: since this does not require any changes to the MemoryCache, should we just add it as a sample instead?

[2016-07-12 20:21] Tratcher commented on #211
Agreed. There should not be a using statement on this line: https://github.com/aspnet/Caching/blob/c432e5827e4505c05ac7ad8ef1e3bc6bf784520b/src/Microsoft.Extensions.Caching.Abstractions/MemoryCacheExtensions.cs#L103

[2016-07-13 11:28] dewebeloper opened #212 "Collection was modified; enumeration operation may not execute."
I have this piece of code
[code]

and this is line where I render Razor View to string
`string mailBody = render.RenderToString("NewInvoiceNotification", recipient["header"]);`

RenderToString is

[code]

This works sometime ok, sometime not. I can't figure out what is wrong.
I get two type of errors:    Collection was modified; enumeration operation may not execute. and Stack Empty

For Collectio

[2016-07-13 13:15] davidfowl commented on #212
Is this with the 1.0.0 version of caching?

[2016-07-13 13:33] dewebeloper commented on #212
It is. "Microsoft.Extensions.Caching.Memory": "1.0.0-rc2-final"

[2016-07-13 14:51] sebastienros commented on #212
rc2 is not 1.0. This was fixed for 1.0 with https://github.com/aspnet/Caching/issues/184

[2016-07-13 14:55] dewebeloper commented on #212
When 1.0 will be published?

[2016-07-13 15:03] sebastienros commented on #212
Two weeks ago, here is the link on nuget.org: https://www.nuget.org/packages/Microsoft.Extensions.Caching.Memory/

You should update everything to 1.0 RTM from here https://www.microsoft.com/net

[2016-07-13 15:22] dewebeloper commented on #212
Cool. Thanks

[2016-07-14 07:57] #212 closed

[2016-07-15 17:36] BrennanConroy commented on #203
https://github.com/aspnet/Caching/commit/27a2072b142a675cde720eebf6a7686dda634fd8

[2016-07-15 17:36] #203 closed

[2016-07-18 20:54] kichalla commented on #209
I am thinking that SQL Server cache should have a default sliding expiration for a cache entry, let's say 20 mins, if none specified by a user. These default timeout options would be exposed by `SqlServerCacheOptions`.

@iscifoni any thoughts on this?

[2016-07-19 08:35] iscifoni commented on #209
For me the parameter DefaultSlidingExpiration on SqlServerCacheOptions class  is what we need :smile: .

[2016-07-20 20:12] #209 closed

[2016-07-22 17:15] muratg commented on #191
@Tratcher let's decide the plan with this. We can move out if we're not doing this in 1.1.

[2016-07-23 19:24] aggieben commented on #135
I read the PR, and I think I understand it.  But I don't think the response to @basitanwer is complete.

Because connections are now done as a part of every `Get` and `Set` (and async variants) operation, how does one now handle failure scenarios?  I.e., when a `Get` gives you a `null` result, how do you know when that's because the key doesn't exist in the cache and when it's because the cache is

[2016-07-25 21:24] BrennanConroy commented on #211
https://github.com/aspnet/Caching/commit/18f22598da1d650dc0b3291254ed61df036a378f

[2016-07-25 21:24] #211 closed

[2016-07-25 22:56] Tratcher commented on #191
@benaadams where do you want to use this? Is a sample sufficient?

[2016-07-25 23:57] benaadams commented on #191
Want to use in response caching; a sample is probably fine and shows how flexible the cache can be.

Can revisit if it becomes used in the actual framework.

[2016-07-28 16:28] Tratcher commented on #135
@aggieben either way it's a cache-miss. Your app should function even when the cache is unavailable, even if less efficiently.

Connection pooling, if any, should happen inside the cache provider, that's not a detail that should be exposed the the application.

[2016-08-13 13:46] ricklove opened #218 "GetOrCreateAsync likely causes multiple expensive calculations which could crash a server under load"
# Recommended Pattern

I have been using MemoryCache to cache expensive calculations, using the recommended pattern:

- Try to get the value
- If it doesn't exist, create it and save it to cache

# Problem - Crash and Burn

However, there is a big problem for web servers under load:

- Assume Web Server is loaded and warmed up and all cache values are pre-populated
- Assume 1,000 requests / sec as

[2016-08-14 19:38] aggieben commented on #135
@Tratcher yes, it's a cache-miss either way, but we need to know what _kind_ of cache miss so that we can implement fallback strategies.  In my particular case, if the redis isn't even there, then I fallback to a different caching strategy.  With these changes it is now impossible to correctly implement such a thing without having to re-write code that the framework already has but is now inaccess

[2016-08-19 18:02] Eusebiogm87 opened #219 "API of ICacheManager is very limited"
Hello guys, i wonder why the API of the ICacheManager is so limited, we as developers need some control over the cached data, in the previous version using System.Runtime.Caching.ObjectCache we have full control, but now is very limited, think about this use cases:

In a shopping cart app, we cache categories, products, stock and some other data, when a discount is changed, it affects products but

[2016-08-19 18:09] sebastienros commented on #219
This is not the goal of the `ICacheManager` to provide such services, it's by design and and there is a very simple solution to it, use stringified tokens.

You can find an example in Orchard:
https://github.com/OrchardCMS/Orchard2/blob/c46af7d9fe1893f30c28f02c186f9cd8ed9218d2/src/Orchard.Environment.Cache.Abstractions/ISignal.cs
https://github.com/OrchardCMS/Orchard2/blob/c46af7d9fe1893f30c28f02c

[2016-08-20 19:40] msmolka opened #220 "Consider unification between IMemoryCache and IDistributedCache."
Currently both interfaces has different methods and extensions, which is making switching between them quite hard. Also memory cache has more methods that simplifying usage of caching.

[2016-08-20 23:02] davidfowl commented on #220
They can't be unified, that would be a breaking change. They shouldn't be unified, they have fundamentally different semantics. MemoryCache can store live objects, the distributed cache can't, objects have to be serialized. The distributed cache can be off box and calls to it may fail or take a long time so getting and setting should be async, the MemoryCache is always in memory and fast. The dist

[2016-08-21 02:34] Tratcher commented on #220
That said, there is an implementation IDistributedCache that used memory cache to simplify switching back and forth.

[2016-08-22 13:23] Eusebiogm87 commented on #219
@sebastienros thanks for your response and suggested links.... Talking about the memory cache, that way to clear the cache is by far a lot complicated for simple scenarios, for advanced scenarios is OK, but for simple and common scenarios is a lot complicated, more complicated than my suggestion or other suggestions. About clearing the cache, even the Orchard implementation has a design flaw, how

[2016-08-22 17:55] muratg opened #221 "Remove GC Compaction trigger"
@KKhurin @davidfowl

Looks like we may have room for improvement here.

[2016-08-22 21:37] #191 closed

[2016-08-22 21:51] Tratcher commented on #135
If your redis server isn't there then I'd expect that to be a deployment / configuration error, not something you'd try to deal with at runtime.

[2016-08-27 11:53] lobster2012-user opened #223 "Using any ADO.NET provider"
I want use another data provider, but i do not want to duplicate code from sql server cache.
Add please this ability to use any data provider out of  box
Thanks.

p.s.
Why  'DataOperations' does not use 'using' for disposing datareader and other disposable objects?

[2016-08-28 12:03] lobster2012-user opened #224 "nuget version of Caching.Redis with support of .NET Core missing"
StackExchange.Redis 1.1.604-alpha support net core
Thanks.

[2016-08-28 15:52] BrennanConroy commented on #224
https://github.com/aspnet/Caching/pull/222

[2016-08-30 17:41] #224 closed

[2016-08-31 22:45] muratg opened #225 "Implement MultiLevel (or aggregate) cache"
A cache implementation that can for example have in-memory cache + redis distributed cache.

cc  @davidfowl @DamianEdwards @sebastienros

[2016-08-31 23:00] MichaCo commented on #225
or just use http://cachemanager.net

[2016-09-02 16:42] muratg commented on #121
If Nick gets SE.Redis RTM'd, we'll do this.

[2016-09-08 16:44] muratg opened #227 "Msbuildify tools"
### Microsoft.Extensions.Caching.SqlConfig.Tools
  - Doesn't use project file at all

### TODO
  - Fork tools repos to `rel/1.0.0-preview3` branches for "October" release. Dev branches will continue to be used for 1.1 release.
  - Use desktop msbuild to start our work until the new msbuild is ready for   consumption

### Notes
  - [This](https://github.com/aspnet/Coherence-Signed/issues/375) track

[2016-09-08 21:56] #227 closed

[2016-09-09 15:06] andresmoschini commented on #203
Good job @BrennanConroy fixing this issue!

Sadly @vmsgsp workaround does not work for me.

I am working with version 1.0.0, do you think that is there a simple and minimalist way to apply the fix in my code base?

[2016-09-13 19:02] #121 closed

[2016-09-14 17:29] pholly opened #231 "Memory Cache file system dependency example"
The asp.net docs state:

I assume cache entries can depend on file system changes by using `ChangeToken`s. I searched and found that `Microsoft.Extensions.FileProviders.Physical.FileSystemProvider` has a `Watch` function that returns an `IChangeToken`. Is that what we're supposed to use? Can someone provide an example on how to make a cache entry depend on a file on the filesystem?

[2016-09-22 11:56] yosigolan opened #233 "the in memory cache default options dont influence"
When configuring in memory cache in the startup class like this:
services.AddMemoryCache()

there is an option to add setupAction like this:

[code]

how ever it does not influence the cache behavior. the call back is not called and the item is not evicted on time. only when using the same options when setting some item into the cache the options influence the behavior.

[2016-09-22 16:00] Tratcher commented on #233
That's not how that works. AddMemoryCache takes an `Action<MemoryCacheOptions>`. MemoryCacheEntryOptions must be set per entry, there are no global settings.

[2016-09-23 20:48] muratg commented on #193
We'll need to fail silently instead of throwing exceptions.

[2016-09-23 20:52] muratg commented on #218
This is hypothetical at this point. Also, any fix is a breaking change that we can'd make in 1.x.

[2016-09-23 20:52] #218 closed

[2016-09-23 20:54] muratg commented on #220
Breaking change. We can't do this.

[2016-09-23 20:54] #220 closed

[2016-09-23 20:55] muratg commented on #221
@KKhurin Are you able to help us with this?

[2016-09-23 21:01] muratg commented on #223
Backlogging for now. You can fork the SQL Server implementation and make it work with postgres.  Let us know if you do this and if you hit any blockers.

[2016-09-24 04:03] KKhurin commented on #221
Let's have a discussion.

[2016-09-25 07:40] yosigolan commented on #233
Thanks for that clarification. from syntax point of view, why is it possible to pass any object on that action and not only MemoryCacheOptions?

Thanks Yosi

[2016-09-25 12:33] lobster2012-user commented on #223
@muratg
Hello. I'm newbie in open source development. Not near future.
I attached generic code for nay provider above.

[2016-09-26 13:48] Tratcher commented on #233
Here's what the compiler sees. Actions do not have a return parameter or statement, they're void. The MemoryCacheEntryOptions is created and discarded.

[code]

Your code would only make sense if AddMemoryCache took a `Func<MemoryCacheOptions, MemoryCacheEntryOptions>`, Funcs have return parameters. Then you'd get:

[code]

[2016-09-28 02:13] mikaelm12 commented on #231
Hey @pholly. You're right. You want to use the `IChangeToken` returned from calling `Watch` on the file of interest.

There is a new sample here that shows you how to do it
https://github.com/aspnet/Caching/tree/dev/samples/MemoryCacheFileWatchSample

Hope this helps!

[2016-09-28 06:08] yosigolan commented on #233
Thanks.
fully understood now.

Yosi

[2016-09-28 16:51] #231 closed

[2016-09-29 18:13] goupadhy opened #235 "Unable to resolve 'Microsoft.Web.Redis.RedisSessionStateProvider (>= 2.0.238)' for '.NETCoreApp,Version=v1.0'."
Hi,

I'm trying to use redis as session state provider for an asp.net 5 core application in using VS Code in Linux. When i try to restore this package it fails and shows "Unable to resolve 'Microsoft.Web.Redis.RedisSessionStateProvider (>= 2.0.238)' for '.NETCoreApp,Version=v1.0'."
Can you please suggest what needs to be done?

[2016-09-29 20:32] Tratcher commented on #235
That's for Asp.Net 4.0, not Asp.Net Core. I think you're looking for Microsoft.Extensions.Caching.Redis, but you'll need 1.1.0 from the nightly feed for .Net Core support.

[2016-09-30 14:47] goupadhy commented on #235
Hi Tratcher, Thanks for your response. Yes i'm looking for  Package Microsoft.Extensions.Caching.Redis but the current 1.0.0-rc2-fina  is not compatible with netcoreapp1.0 (.NETCoreApp,Version=v1.0). Can you tell me how I can get 1.1.0?

[2016-09-30 15:02] Tratcher commented on #235
See https://github.com/aspnet/Home/wiki/NuGet-feeds, you need the aspnetcore-dev feed.

[2016-09-30 15:25] goupadhy commented on #235
Thanks a lot Chris. One more question do you know if we can use redis cache in Asp.Net core for Linux as session state provider? Any sample or post would be of great help!

[2016-09-30 16:34] Tratcher commented on #235
Yes: https://github.com/aspnet/Session/blob/dev/samples/SessionSample/Startup.cs#L36

[2016-10-01 17:11] gdoron commented on #211
When will preview 1 be released?
We just got hit hard by this bug, we'll might have to use the nightly builds on production 😢 until it's being released.

[2016-10-02 08:06] Daniel15 opened #236 "How do I make one cache entry expire when another one changes?"
I'm looking for the equivalent to `System.Runtime.Caching`'s `MemoryCache.CreateCacheEntryChangeMonitor` - Basically, expire one cache key if a different one is modified. The documentation says this is possible ("You can configure cache entries to depend on other cache entries") but doesn't explain how to actually do it.

I created a doc task too: https://github.com/aspnet/Docs/issues/1938

[2016-10-03 17:01] Tratcher commented on #236
You can't directly link two entries, but entries can be removed based on IChangeTokens and you can use the same token for multiple entries.
https://github.com/aspnet/Caching/blob/dev/samples/MemoryCacheSample/Program.cs#L84-L96

Change tokens can even be inherited automatically:
https://github.com/aspnet/Caching/blob/dev/samples/MemoryCacheSample/Program.cs#L98-L114

[2016-10-03 17:26] Daniel15 commented on #236
So I need to maintain the cancellation tokens myself? If I have a web app with lots of stuff being cached, I'd need to have my own map of cancellation tokens too? That seems like boilerplate that should be unnecessary given `System.Web.Caching.Cache` and  `System.Runtime.Caching` both allow dependencies on other cache entries without needing to manually mess with tokens yourself.

It sounds like t

[2016-10-03 17:29] Tratcher commented on #236
How do you update the the first entry?

[2016-10-04 05:46] goupadhy commented on #235
This sample is for in memory/sql server as session provider. The redis implementation piece is missing in it. Do you have any sample for redis implementation Asp.Net core for Linux as session state provider?

[2016-10-04 13:07] Tratcher commented on #235
Session depends on IDistributedCache, and RedisCache implements IDistributedCache. All you have to do is register it `services.AddSingleton<IDistributedCache, RedisCache>();` and set the options: https://github.com/aspnet/Caching/blob/dev/samples/RedisCacheSample/Program.cs#L32

[2016-10-04 16:57] goupadhy commented on #235
The code looks like this.

#if NET451
            // Uncomment the following line to use the Redis implementation of IDistributedCache.
            // This will override any previously registered IDistributedCache service.
            services.AddSingleton<IDistributedCache,Redis >();
#endif

It has a if clause which says if NET451 then use redis. My guess is we are checking if .Net framework 4.5

[2016-10-04 17:06] Tratcher commented on #235
The #if NET451 is no longer needed, it was there because RedisCache formerly only supported .Net 4.5.1.

Did you add the myget feed referenced above?
Is the project.json dependency specified as `"Microsoft.Extensions.Caching.Redis": "1.1.0-*"`?

[2016-10-04 17:19] goupadhy commented on #235
Yes i have referenced  "Microsoft.Extensions.Caching.Redis": "1.1.0-*" in package.json. I'm new to Asp.Net core Stupid question but How to add myget feed referenced?

[2016-10-04 17:22] Tratcher commented on #235
https://github.com/aspnet/Caching/blob/dev/NuGet.config#L4, but use aspnetcore-dev

[2016-10-04 18:05] goupadhy commented on #235
Thanks a lot Chris for helping me all along :) getting error in services.addsession()  app.UseSession();  section i;m referencing "Microsoft.AspNetCore.Session": "1.0.0-rc2-final"

public void ConfigureServices(IServiceCollection services)
{
    services.AddSingleton<IDistributedCache, RedisCache>();
    services.AddSession(); //getting error

//-----------

public void Configure(IApplicationBuild

[2016-10-06 16:30] goupadhy commented on #235
I have added below code in my asp.net net core app
 public void ConfigureServices(IServiceCollection services)
        {
            // Add framework services.
          services.AddMvc();
          services.AddDistributedMemoryCache();
	 services.AddSession();

I’m referring  this "Microsoft.Extensions.Caching.Redis": "1.1.0-*" ,
     "Microsoft.AspNetCore.Session": "1.0.0-rc2-final"

pointing to

[2016-10-10 21:54] JunTaoLuo opened #237 "Relocating CacheProfile to Caching.Abstractions"
The idea here is to move the `CacheProfile` from MVC https://github.com/aspnet/Mvc/blob/760c8f38678118734399c58c2dac981ea6e47046/src/Microsoft.AspNetCore.Mvc.Core/CacheProfile.cs to the `Microsoft.Extensions.Caching.Abstractions` package. The `CacheProfile` can then be resolved by middlewares such as ResponseCaching. Configuring the profile can also be implemented in a similar fashion to CORS opti

[2016-10-10 22:05] Eilon commented on #237
Do we have a way of doing this without a breaking change?

[2016-10-10 22:17] Tratcher commented on #237
Name it CachePolicy instead and have CacheProfile derive from CachePolicy

[2016-10-10 22:20] Eilon commented on #237
Yeah that could work! Probably 😄

[2016-10-12 16:53] natemcmaster commented on #193
Per discussion with the team, we decided not to implement retry logic/policies. We may add this in the future if we get more feedback that users want API for this.

For now we will harden Redis and SqlServer cache implementations to silently fail on all operations, and add logging when an expression is suppressed (#238).

[2016-10-13 22:08] natemcmaster commented on #193
We discussed more and will be reverting #238. Suppressing errors isn't a sensible default for some caching scenarios, so we'll need introduce API changes. For now, users who want more reliable operations should wrap cache operations in try/catch.

[2016-10-13 22:27] muratg commented on #193
We'll revisit the design for 2.0.0.

[2016-10-19 10:22] rmja opened #240 "GetOrCreateExclusive() and GetOrCreateExclusiveAsync(): Exclusive versions of GetOrCreate() and GetOrCreateAsync()"
It would be nice with equivalents of `GetOrCreate()` and `GetOrCreateAsync()` where it is ensured that the factory is only invoked once for each cache miss.

This basically resolves https://github.com/aspnet/Caching/issues/218, but with alternate extension methods.

An implementation proposal:

[code]

[2016-10-19 10:59] rmja commented on #240
In the async version it should of cause be `await exclusiveLock.WaitAsync();` and not the sync equivalent.

[2016-10-20 02:58] laoshancun opened #241 "Redis SessionMiddleware throw StackExchange.Redis.RedisServerException"
hi,when i use redis session middleware,i got this.
[code]

[2016-10-20 15:53] muratg commented on #241
Can you provide a simple app that reproduces this issue, ideally on a GitHub repo?

[2016-10-20 19:15] mikeharder opened #242 "Improve performance of MemoryCache by using ConcurrentDictionary rather than ReaderWriterLockSlim"
It may be possible to significantly improve the performance of MemoryCache by using `ConcurrentDictionary` rather than `Dictionary` protected by a `ReaderWriterLockSlim`.  Under high load, there is contention acquiring the read lock from `ReaderWriterLockSlim`.

I created a quick prototype which shows significantly improved performance, though it may not be functionally correct in all scenarios.

[2016-10-23 14:30] atrauzzi commented on #121
Would anyone happen to know when we can expect to see this ready for use?

[2016-10-24 16:56] Tratcher commented on #121
https://www.nuget.org/packages/Microsoft.Extensions.Caching.Redis/1.1.0-preview1-final

[2016-10-25 02:30] laoshancun commented on #241
quotes error,ignore this
[code]
this is a mistake, thanks!

[2016-10-25 02:30] #241 closed

[2016-10-28 14:06] fletchsod-developer opened #243 "All Unit Tests (xUnit) are returning -2147450749 code and no visible Tests showing up in Visual Studio Test Explorer Window"
Using the latest version of source code from this GitHub repository (Dated: 10/26/2018) & following step to reproduce this bug report.

The returned negative number -2147450749 is the error code coming from .NET CLI.

1) Open solution into VS-2015
2) Build (or rebuilt) solution
3) Error message below from the Output window & no visible tests showing up in Test Explorer (VS-2105).

------ Discover

[2016-10-28 14:24] Tratcher commented on #243
They probobly require a later version of the CLI than you have installed.
https://github.com/dotnet/core/blob/master/release-notes/preview-download.md

Alternatively, try running build.cmd from the command line. It pulls the needed dependencies to a user dir (which won't fix VS, but at least you can run the tests one way).

[2016-10-28 14:53] fletchsod-developer commented on #243
Interesting.  I ran this build.cmd command line and it works fine.   No changes in VS as you said.  Would have be nice to do the step-into & step-over debugger in visual studio.  :-/

[2016-10-28 17:00] Tratcher commented on #243
Yeah, build.cmd manages it's own dependencies. It installs a pre-release SDK to `C:\Users\myuser\AppData\Local\Microsoft\dotnet\` and adds it to your PATH. You can have VS pick this one up by going to your system environment variables and remove the primary SDK from your PATH: `C:\Program Files\dotnet`. Restart VS and then the tests should work again.

[2016-10-29 14:16] atrauzzi commented on #121
@Tratcher - Are there any special steps I have to take to get this version of the package into my project?

When I add `"Microsoft.Extensions.Caching.Redis": "1.1.0-preview1-final",`, my references show as being unable to resolve it.

[2016-10-29 14:26] atrauzzi commented on #121
Ah, nevermind, looks like I needed to add this to my `Nuget.Config`:

`<add key="aspnet-dev" value="https://dotnet.myget.org/F/aspnetcore-dev/api/v3/index.json" />`

[2016-10-29 16:12] Tratcher commented on #121
that shouldn't have been required... that package isn't even on the aspnetcore-dev feed, it's only on nuget.org.

[2016-10-29 22:51] jwdavidson opened #244 "TryGetValue causes exception inside try-catch block when key not in cache"
I wanted to add MemoryCache to some existing code where the existing code had a try/catch block ending with this sample:

        [HttpGet("api/actionsignifiers")]
        public IActionResult GetActionSignifiers() {
            try {
                List<SelectListItem> cachedActionSignifiers = new List<SelectListItem>();
                if (!_memoryCache.TryGetValue(ACTIONKEY, out cachedActionSi

[2016-10-29 23:02] davidfowl commented on #244
Can you show the exception callstack? Also, do you have an isolated repro?

[2016-10-29 23:10] jwdavidson commented on #244
Ignore my last. The NullReferenceException was for an uninitialized cache not the key.

I hate that thisw exception never tells you what the NullReference is.

[2016-10-29 23:10] #244 closed

[2016-10-30 01:43] atrauzzi commented on #121
@Tratcher - Odd.  The only way I could keep visual studio from barking at me was by adding that feed.  I'll be honest, the nuget package stuff isn't always the most predictable.  So I might have missed something.

Is there anything you'd like me to check, just to be certain?

[2016-10-30 13:14] Kagamine opened #245 "CancellationToken support"
Why there is no cancellation token param in GetAsync or GetStringAsync?

In my project, I need this feature. I want to stop getting cache result in some scene.

[2016-10-31 16:19] muratg commented on #121
@atrauzzi does using cmdline (i.e. `dotnet restore`) fail as well? (when you only have nuget.org in your nuget.config.)

[2016-10-31 18:25] atrauzzi commented on #121
Yeah, it did actually.  Guess it's just a VS thing?

[2016-10-31 18:27] muratg commented on #121
Yeah, I guess. @sayedihashimi thoughts? It looks like restore is failing on VS, but working fine on cmd line...

[2016-10-31 19:02] JunTaoLuo opened #247 "AddExpirationToken extension is not thread safe"
I've noticed that `CacheEntryScopeExpirationTests.LinkContexts_AreThreadSafe` test can occasionally fail when run repeatedly at https://github.com/aspnet/Caching/blob/dev/test/Microsoft.Extensions.Caching.Memory.Tests/CacheEntryScopeExpirationTests.cs#L475.

I will usually see one or two failures when repeating this test 50 times. I have reproduced this on Win10 x64 and Win10 x86.

cc @Tratcher

[2016-10-31 19:29] atrauzzi commented on #121
It's not a big deal for me if I can work around it, I understand that there's probably going to be a lot of shifting as msbuild is brought back into view.

[2016-10-31 19:33] Tratcher commented on #245
On the IDistributedCache I assume?

Is the cache taking too long? What implementation are you using?

[2016-11-01 00:36] Kagamine commented on #245
Yep. It didn't take too long, but I'm using that in Task.WaitAny(). I want to stop the others while any Task finished.

[2016-11-04 13:33] ChrisRichner opened #248 "Question: Expiration allmost never happens on it's own in the background"
I'm currently implementing a class which should mimic session timeouts. Before writing this on my own I've thought taking the IMemoryCache implementation should do the trick as well.

I'm having a plain vanilla asp.net core web api project. I've added the nuget package to project.json and added the following code:

Startup.cs ->  services.AddMemoryCache(c => c.CompactOnMemoryPressure = false);

Th

[2016-11-04 13:55] Tratcher commented on #248
This is by design, there's no timer thread that actively scans the cache for expired items. We didn't want a timer always running on an otherwise idle site. Any activity on the cache (Get, Set, Remove) can trigger a background scan for expired items. A timer on the CancellationTokenSource (CancelAfter) would also remove the entry and trigger a scan for expired items.

[2016-11-04 14:22] ChrisRichner commented on #248
Thank you for explaining why I'm facing this issue!

Can you elaborate a bit what you mean by

What alternatives do exists for my use case?

[2016-11-04 23:27] Tratcher commented on #248
Rather than using `SetAbsoluteExpiration(TimeSpan.FromHours(1))` you could instead use `CancellationTokenSource.CancelAfter(TimeSpan.FromHours(1))` for the token you're already registering. When this token fires it will remove the entry immediately and fire the eviction callbacks.

[2016-11-06 19:00] ChrisRichner commented on #248
I see, thanks!

[2016-11-06 19:00] #248 closed

[2016-11-11 19:02] ttrider commented on #240
Looking at the MemoryCache.cs implementation, I wonder how bad would it be to use ConcurrentDictionary there instead of plain Dictionary. and expose the GetOrAdd method directly.

I know that the interface doesn't have it and I would really hate IMemoryCache2, but at this point, I'm seriously considering forking implementation of the MemoryCache nd making change myself...

[2016-11-12 05:54] epignosisx opened #250 "Consider making MemoryCache.CreateEntry virtual"
I'm trying to create an flushable implementation of IMemoryCache. I want the same behavior of MemoryCache in addition to a Flush method. This could be pretty straightforward if **CreateEntry** was virtual:

[code]

However, due to the method not being virtual, the only option left I see is:

[code]

While the second implementation does the job, seems redundant. Do you think there is value in makin

[2016-11-15 18:16] JunTaoLuo commented on #240
@ttrider We are looking into updating the implementation of `MemoryCache` to use `ConcurrentDictionary` in #242. Note that the `GetOrAdd` method does not guarantee, by itself, that the factory is only invoked once and the implementation will involve `Lazy<T>`.

[2016-11-15 21:47] ttrider commented on #240
Hello John,

This is the great news! While we wait on your implementation, for a time being, we created the following poor-man wrapper implementation.

https://gist.github.com/ttrider/a5ae8fc86ccfe6a4243f4481a5858a80

I think I’ll rename my methods to match your signatures – it will make dropping and replacing them easier.

Thank You,

Vladimir

From: John Luo <notifications@github.com>
Reply-To:

[2016-11-16 12:07] Dissimilis commented on #242
Please thoroughly test ConcurrentDictionary vs lock'ed Dictionary performance and don't make this change blindly. Performance may depend a lot on specific workload (amount of get vs set, etc.), even simple Monitor may be faster than ReaderWriterLockSlim if most operations are writes.

[2016-11-17 01:02] JunTaoLuo commented on #242
@Dissimilis thanks for the feedback but is there any particular workload you are concerned about? A few scenarios we have benchmarked include 1) concurrent gets with a few set to update the entry and 2) concurrent sets and removes and have seen major improvements in both. See the referenced PR for benchmark results. The move toward `ConcurrentDictionary` also takes advantage of the more fine-grain

[2016-11-17 19:40] #242 closed

[2016-11-17 19:43] sebastienros commented on #242
Can we update the table with the new numbers?

[2016-11-17 20:42] JunTaoLuo commented on #242
Scenario | previous CPU | previous RPS | CPU | RPS
--- | --- | --- | --- | ---
benchmarks: memorycacheplaintext | 60 | 342,129 | 100 | 886,544
benchmarks: memorycacheplaintextsetremove | - | - | 100 | 689,634

[2016-11-17 23:32] bidolah opened #251 "Debug in Visual Studio 2017 RC"
I updated nuget package from "Microsoft.NETCore.App 1.0.1" to "1.1.0 Microsoft.NETCore.App" and now get this error when i run project:
_The program '[20180] dotnet.exe' has exited with code -2147450749 (0x80008083).
The program '[20180] dotnet.exe: Program Trace' has exited with code 0 (0x0).
The program '[13884] chrome.exe: WebKit' has exited with code -1 (0xffffffff).
The program '[7616] iisexpr

[2016-11-17 23:55] #251 closed

[2016-11-21 22:58] muratg commented on #250
@epignosisx, the general approach we take across the stack is (2), i.e. wrapping the object.

[2016-11-23 02:25] #250 closed

[2016-12-12 17:47] JonCole opened #253 "Redis: Connection Leak if Connect or ConnectAsync called from multiple threads simultaneously"
We have a customer who, under load testing, noticed connections to Redis spiking significantly.  After digging into the dump of the process, we could see that many ConnectionMultiplexer objects exist in the heap.  We also noticed that there were many threads calling Connect at the same time.

If multiple threads make it past the if (_connection == null) check, then there will be a connection leak

[2016-12-12 17:53] Tratcher commented on #253
Relevant code: https://github.com/aspnet/Caching/blob/1.0.0/src/Microsoft.Extensions.Caching.Redis/RedisCache.cs#L146-L162

@JonCole what version of the packages are they using? Do we need to backport this fix to 1.1.x or 1.0.x?

/cc: @muratg

[2016-12-12 18:14] JonCole commented on #253
@Tratcher - looks like they are on 1.1.0.21115.

[2016-12-12 18:24] muratg commented on #253
Putting this in 1.1.1 milestone so that it gets tracked with the rest of 1.1.1 candidates.  We should also look into whether we want this in 1.0.4 as well.

[2016-12-13 19:26] sebastienros opened #255 "Pool connections"
From experience, when using Redis with bigger that usual content like response cache (~100KB) on high traffic sites the tcp connection can reach its limit as all requests are pipelined on a single redis connection and be a bottleneck.

A solution could be to use a configurable number of pooled connections to parallelize the communication with Redis. A simple queue for instance. This would allow mu

[2016-12-16 20:38] JunTaoLuo commented on #253
Fixed in https://github.com/aspnet/Caching/commit/3522082828cd0c411f297d50db289518f7844dee. Will need to port this to 1.1.1 branch when available for release.

[2016-12-16 20:48] JunTaoLuo opened #257 "Concurrent connection on redis cache leads to connection leak"
Need to port fix in https://github.com/aspnet/Caching/commit/3522082828cd0c411f297d50db289518f7844dee to 1.0.4 branch when available.

[2016-12-20 03:31] runxc1 commented on #253
Would this only happen on startup?  I am noticing about once a day or so on a site with 1 million hits a day that Redis will run out of connections but just for 5-10 minutes

[2016-12-20 23:22] DamianEdwards commented on #221
I just hit what I think is a down side of the current implementation in that it appears we purge the cache on every Gen2 collection, which in my case was occurring during app start as I was forcibly priming my cache.

[2016-12-22 01:16] ctolkien opened #258 "[Docs] None of the properties for MemoryCacheOptions have docs"
Whilst most of the properties are self evident (with perhaps the exception of the `Clock`) - it would be especially handy to see what the default values are for these options.

In comparison, all the properties for the `SqlServerCacheOptions` are documented.

[2016-12-28 00:13] JunTaoLuo commented on #247
Looks like the `AddExpirationToken` (https://github.com/aspnet/Caching/blob/efbbdc5e0a8c8a664ea34cd41220d084b6906f57/src/Microsoft.Extensions.Caching.Abstractions/CacheEntryExtensions.cs#L29-L40) is not thread safe.

The issue arises when `AddExpirationToken` is called from different threads concurrently. Since they operate on the underlying `ExpirationTokens`, an `IList`, is not thread safe, some

[2016-12-29 13:47] strohhut opened #259 "Expiration only happens during a request"
I set my `ExpirationScanFrequency` to 5 seconds and I'm inserting entries with 10 seconds `AbsoluteExpirationRelativeToNow`.

Problem is that those never evict if there aren't requests (or maybe they evict but `PostEvictionCallbacks` callback are only executed when there is a web request?).

Is this how it is intended? Docs don't mention that in order for `PostEvictionCallbacks` a request is neces

[2016-12-29 17:48] Tratcher commented on #259
Duplicate of https://github.com/aspnet/Caching/issues/248

[2016-12-29 17:52] Tratcher commented on #259
Note ExpirationScanFrequency is a frequency limiter to prevent extra scans, not to trigger them.
https://github.com/aspnet/Caching/blob/77e4a58e2cce972c9c2f0ae64840a5d663e30d99/src/Microsoft.Extensions.Caching.Memory/MemoryCache.cs#L259

[2016-12-29 18:56] strohhut commented on #259
Thanks, I think it might be good to make this behaviour a bit more explicit by mentioning it in the docs or the XML-comments.

[2016-12-29 18:56] #259 closed

[2016-12-30 13:57] cnblogs-dudu opened #260 "Unable to connect redis via host name on Linux"
Get the following error:
[code]

[2016-12-30 14:37] Tratcher commented on #260
External:
https://github.com/StackExchange/StackExchange.Redis/issues/410
https://github.com/StackExchange/StackExchange.Redis/issues/463

[2016-12-31 05:48] cnblogs-dudu commented on #260
Created a pull request(StackExchange/StackExchange.Redis#544) for this.

[2016-12-31 05:48] #260 closed

[2017-01-06 22:03] Tratcher commented on #247
If there's going to be a lock it should be here: https://github.com/aspnet/Caching/blob/21c850aad3a7338bfa400e146433ad3b2d9d441a/src/Microsoft.Extensions.Caching.Memory/CacheEntry.cs#L325

[2017-01-10 18:55] JunTaoLuo opened #261 "Add Logging"
There's currently no default logging for cache operations. It would be useful to turn on logging and see logged cache operations.

[2017-01-11 02:33] #233 closed

[2017-01-11 20:51] muratg commented on #257
(Setting milestone to 1.0.2 to reflect the actual package version to be shipped.)

[2017-01-11 23:31] #247 closed

[2017-01-13 02:42] JunTaoLuo commented on #221
Currently compaction is triggered by a gen2 collection by the GC. This is not the best trigger since it may occur frequently and does not correlate to the actual memory usage of the cache.

The proposal is to remove the current trigger and instead rely on the user or external triggers to decide when to compact the cache. This will require us to expose the Compact on the interface. Note that there'

[2017-01-13 02:54] JunTaoLuo opened #263 "MemoryCache Compact may not remove any cache items"
Not sure if this is by design but the behaviour outlined in https://github.com/aspnet/Caching/blob/dev/src/Microsoft.Extensions.Caching.Memory/MemoryCache.cs#L293 is not accurate.

Compact removes expired items, then removes items by priority. However, pinned items with priority of `NeverRemove` will, as the enum suggest, never be removed. If a cache needs to be compacted and consists of solely un

[2017-01-13 02:57] Tratcher commented on #263
Yes, this is the intended behavior.

[2017-01-13 03:50] davidsleep opened #264 "CacheExtensions.GetOrCreateAsync() deadlock because configureAwait(false) is not specified"
### Functional impact
If I call the GetOrCreateAsync method and use .result to store the returned values the code goes into deadlock.

### Minimal repro steps
1.  Create a windows form project

2.  Add a button

3.  Add the following code

[code]
4.  Once you click the button the code will go into deadlock

### Expected result
The code should continue running as normal.

### Actual result
The code

[2017-01-13 04:01] benaadams commented on #264
Out of curiosity, what happens if you change it to:
[code]

[2017-01-13 07:37] JunTaoLuo commented on #263
Will update the comments in #221

[2017-01-13 07:37] #263 closed

[2017-01-13 17:52] JunTaoLuo commented on #264
This is deadlocking because you are blocking on the result of an async function. Is it possible for you to make `button1_Click` async and `await cache.GetOrCreateAsync(...);`?

[2017-01-15 19:26] davidsleep commented on #264
@benaadams Hey I added this code with no luck.  Still have async issues.

@JunTaoLuo So with the solution I am working on, the calling method of cache.GetOrCreateAsync() has to be sync and cannot be made async.

[2017-01-15 19:31] benaadams commented on #264
And if you add it to your factory?
[code]

[2017-01-15 19:36] JunTaoLuo commented on #264
Is it possible to use the blocking extension `GetOrCreate()` instead of `GetOrCreateAsync()` in your code?

[2017-01-15 19:53] davidsleep commented on #264
@benaadams Hey, I added this code and still get the same issue.

@JunTaoLuo This does work but we have both async and sync methods we would like to use this code for.  Preferably we would like to call the same method to avoid duplicating code.

[2017-01-17 21:30] Shane88 commented on #264
Hi @JunTaoLuo and @benaadams, I'm helping @davidsleep write some code when we ran into this issue. We understand why this problem is occurring, we were raising this issue to identify what we believe is code that should be fixed in this library.

https://github.com/aspnet/Caching/blob/dev/src/Microsoft.Extensions.Caching.Abstractions/MemoryCacheExtensions.cs#L117

Copied here for convenience

[code

[2017-01-17 21:50] Tratcher commented on #264
The ASP.NET Core project does not have consistent guidelines or usage regarding ConfigureAwait. We have thousands of lines where this may be applicable. Let's try to avoid changing them one at a time. @Eilon.

That said, I think we are dependent on the context flow in this instance, we use it to flow expiration tokens from nested cache lookups. @JunTaoLuo can you verify that?

[2017-01-18 01:19] JunTaoLuo commented on #264
@Tratcher Are you referring to `CacheEntryHelper` https://github.com/aspnet/Caching/blob/dev/src/Microsoft.Extensions.Caching.Memory/CacheEntryHelper.cs#L17-L46?

We depend on the `ExecutionContext` here with references to `CallContext` and `AsyncLocal` but not `SynchronizationContext` so it should be safe to add `.ConfigureAwait(false)` to our `GetOrCreateAsync()` without affecting the way we res

[2017-01-18 02:36] benaadams commented on #264
[code]
:trollface:

Seriously though, calling `.Result` on an non-completed task is asking for trouble...

[2017-01-19 18:22] Eilon commented on #257
This patch bug is **approved**. Please use the normal code review process w/ a PR and make sure the fix is in the correct branch, then close the bug and mark it as done.

[2017-01-19 18:23] Eilon commented on #257
@muratg please assign this bug.

[2017-01-19 19:53] Eilon commented on #253
This patch bug is **approved**. Please use the normal code review process w/ a PR and make sure the fix is in the correct branch, then close the bug and mark it as done.

[2017-01-20 17:39] Eilon commented on #221
@JunTaoLuo can you update the bug title to reflect the decisions that were made (e.g. change Foo to X because Y).

[2017-01-23 22:21] JunTaoLuo commented on #257
Patch merged. Leaving the issue open since version numbers will need to be updated.

[2017-01-23 22:24] JunTaoLuo commented on #253
Patch merged. Leaving the issue open since version numbers will need to be updated.

[2017-01-23 23:23] runxc1 commented on #253
What schedule is this project on for a a new release push to Nuget?

[2017-01-25 09:54] atpyk opened #268 "When will you have the advanced Redis cache (hash, set, list)?"
As the title says.

[2017-01-25 11:15] MichaCo commented on #268
Why not just use the redis client from Stackexchange.Redis directly? An abstraction here doesn't give you any benefit at all if you want to use more advanced features.

[2017-01-25 21:24] Eilon commented on #253
@runxc1 we're hoping to get these patches out in February.

[2017-01-26 01:00] atpyk commented on #268
Understood. Thanks.

[2017-01-28 19:04] pbolduc opened #269 "SqlServer: GetCacheItemWithoutValue uses UpdateCacheItemFormat"
In [SqlQueries](https://github.com/aspnet/Caching/blob/master/src/Microsoft.Extensions.Caching.SqlServer/SqlQueries.cs#L64), the **GetCacheItemWithoutValue** statement uses the update statement.  It should be using a statement that is similar to **GetCacheItemFormat** but excludes the Value column.

[2017-01-28 19:34] pbolduc commented on #269
This is not really and issue. The GetCacheItemWithoutValue query is only used when refreshing the item (ie updating the expiration date if using a sliding expiration).  The query name is just misleading.

[2017-01-28 19:34] #269 closed

[2017-01-30 21:44] dusda opened #270 "Requesting cache items concurrently throws NullReferenceException"
I am trying to run a few tasks at once to construct a common object, like so:

[code]

Here's an example of one of the tasks, they're all implemented the same way:

[code]

When I run this, it will *sometimes* throw a NullReferenceException. Here's the stack trace:

[code]

If I rewrite the method to just get them synchronously it works fine every time.

FYI, I am using Microsoft's IDistributedCac

[2017-02-09 05:27] #268 closed

[2017-02-09 22:22] glennc commented on #240
I don't think this can fit into 2.0 right now. It needs a fairly large amount of investigation and testing to make it work well.

[2017-02-13 23:32] JunTaoLuo commented on #257
Version numbers updated

[2017-02-13 23:32] #257 closed

[2017-02-14 15:02] MikaelPorttila commented on #253
*Bump* Any release date yet?

[2017-02-14 17:18] runxc1 commented on #253
@MikaelPorttila I am following a couple rather large issues in DotNetCore and it seems that all projects are going to ship at the same time as everyone has quoted "February" as when they are going to fix the issues I am watching.  I had thought part of the advantage of doing it in the open and disconnecting everything was to be able to release out of bound but it seems that everything is still on

[2017-02-14 18:01] Eilon commented on #253
@MikaelPorttila the plan is to have it out later this month. We're just nearly done with all the fixes, and we're working on getting the final builds put together and doing additional testing.

@runxc1 one of the reasons we often prefer to ship things together is that we can ensure that they have maximum compatibility between them. We do sometimes release packages as "one-off" but the cost of test

[2017-02-15 01:41] #253 closed

[2017-02-15 01:41] JunTaoLuo commented on #253
Changes merged. Updating version numbers now.

[2017-02-15 18:57] runxc1 commented on #253
Yeah I get that @Eilon and am hoping that waiting on some of these items helps the .Net Standard 2.0 and all it entails to be released sooner.   With that said some of these issues like the Kestrel locking make me wish I hadn't used Asp.Net Core yet.

[2017-02-15 21:26] Eilon commented on #253
@runxc1 understood. We're certainly all super excited about .NET Standard 2.0 and everything that it brings. I think as far as Kestrel stability is concerned, though we've of course seen some issues in that space, overall stability has been extremely high, and when we do find stability issues, they tend to get priority treatment for the patch releases (as opposed to "general" bug fixes).

[2017-02-17 02:50] emelhu commented on #187
My suggestion, idea:

Like CancellationToken at thread, we can attach a token object to cached object.
This can be common for a group of stored objects. :)

And when (for example) a user modify the source/origin of cached data, the AspNetCore program set a 'cancel' and when the MemoryCache make a cache-cleaning (or retrieve this cached object) drop this object with this token.

[2017-02-19 16:30] emelhu commented on #187
I have been implemented the idea before: https://github.com/emelhu/MemoryCache_DropOutToken

[2017-02-19 16:50] emelhu opened #275 "Remove cached object when user change origin/source of it, so cached object is obsolete."
I had made a realization of idea I had written at https://github.com/aspnet/Caching/issues/187

You can see it at https://github.com/emelhu/MemoryCache_DropOutToken

If you appreciate these i should make a new branch of https://github.com/aspnet/Caching and push it.

[2017-02-19 16:58] Tratcher commented on #275
How is this different from using the existing ChangeToken infrastructure?
https://github.com/aspnet/Caching/blob/dev/samples/MemoryCacheSample/Program.cs#L84-L96

[2017-02-20 15:32] emelhu commented on #275
"How is this different..."

It's simpler? :)

You're right, it's a similar solutions but i didn't knew it (I saw, but I was not listening enough)... so now i "invented hot water" :)

[2017-02-20 15:41] emelhu commented on #275
I enclose the test program (for everyone who is interested):

using System;
using System.Collections.Generic;
using System.Linq;
using System.Threading.Tasks;

// https://github.com/aspnet/Caching/issues/275

namespace MemoryCacheTestApp
{
  using System.Threading;
  using Microsoft.Extensions.Caching.Memory;
  using Microsoft.Extensions.Primitives;
  using System.Diagnostics;

  class Program
  {

[2017-02-21 18:20] #275 closed

[2017-02-25 03:23] JunTaoLuo commented on #270
My initial guess is that this may be related to https://github.com/aspnet/Caching/issues/253.

Before that was fixed, we may be opening multiple connections simultaneously. In these cases, by the time we retrieve the database from the given connection, that connection may have been lost and overwritten. The documentation doesn't specify what happens in this case but I suspect this can lead to some

[2017-02-27 19:43] JunTaoLuo commented on #270
#253 could also lead to a null ref where the connection is set but hasn't initialized the cache in Thread 1 and Thread 2 comes a long and sees the connection is set and tries to use the uninitialized cache. Again, this is fixed in LTS/FTS so it's worth seeing if the new packages fixes the problem.

[2017-03-01 14:49] msmolka opened #276 "Redis DistributedCache allow specify Database number"
Currently there is no way to specify Database Number in Redis Cache system

[2017-03-01 19:07] sebastienros commented on #276
This can be set in the connection string, see here: https://github.com/ServiceStack/ServiceStack.Redis#redis-connection-strings

For instance, `redis://clientid:password@localhost:6380?ssl=true&db=1` will use database `1`

[2017-03-01 19:14] MichaCo commented on #276
@sebastienros ServiceStack is the wrong client I think ;)
That being said, StackExchange.Redis also supports setting the database via connection string
https://github.com/StackExchange/StackExchange.Redis/blob/master/Docs/Configuration.md#configuration-options => `defaultDatabase`

/cc @msmolka

[2017-03-01 19:24] sebastienros commented on #276
Oops, thanks!

[2017-03-01 19:33] msmolka commented on #276
@MichaCo my bad. I noticed only GetDatabse with number but missed connection option.

[2017-03-03 22:16] billpratt opened #277 "PlatformNotSupportedException - RedisCache .NET Core / macOS"
While testing out RedisCache on macOS I am getting a PlatformNotSupportedException (full details below) whenever I try to get or set a value. Is this a known issue and/or am I doing something wrong? Note that I also tried this in an ASP.NET Core application using the IDistributedCache service from the services IoC. Same result.

OS: macOS Sierra Version 10.12.3
Redis 3.2.8
Microsoft.Extensions.Cac

[2017-03-03 23:09] MichaCo commented on #277
there are already many issues open for this on the StackExchange.Redis and dotnet coreclr repos.
You have to use the IP Address for now. (See error message for explanation why).

[2017-03-05 02:57] #277 closed

[2017-03-08 19:46] JunTaoLuo commented on #270
@dusda We have now released Microsoft.Extensions.Caching.Redis 1.1.1 and 1.0.2, can you give this another try?

[2017-03-10 12:19] Jamesxql opened #279 "There is an exception when I use Wide Area Network IP to connect redis server"
I use IDistributedCache interface to set data to a redis server.

and my connection string is like this:
`54.222.x.x:6379,keepAlive=-1,syncTimeout=1000,allowAdmin=True,connectTimeout=5000,password=123456,writeBuffer=4096,connectRetry=3,abortConnect=False`

The NETCore throw a exception:

[code]

But if I use a LAN IP, like this:
`172.169.x.x:6379,keepAlive=-1,syncTimeout=1000,allowAdmin=True,conne

[2017-03-10 12:27] Jamesxql commented on #279
This exception was thrown if I ran my program on Ubuntu.16.04-x64.

On Windows everything is OK.

[2017-03-17 23:16] Tratcher commented on #279
This is a question for StackExchange.Redis, or just general TCP/IP routing, it's unrelated to ASP.NET Caching.

[2017-03-18 22:34] Jamesxql commented on #279
Sorry, it's a general TCP/IP routing problem. I have handled it.

[2017-03-18 22:34] #279 closed

[2017-03-22 18:31] dougbu opened #284 "When possible, re-enable API Check for Microsoft.Extensions.Caching.SqlServer"
Should revert afa938c when aspnet/BuildTools#201 is fixed. Of course, update `exceptions.net*.json` to handle any breaking changes exposed there (if any).

[2017-03-26 01:08] dougbu opened #287 "Add baselines to enable checks for breaking changes"
One shipped project in this repo lacks baselines. Looks like baseline files (`baseline.net45.json` and `baseline.netcore.json`) should be created in `release` or `rel/1.0.1` and checked into at least `dev`. The details below are reformatted from a recent Universe build on the CI.
[code]

[2017-03-27 17:49] JunTaoLuo commented on #221
After the latest discussions, we decided to remove the memory compaction trigger based on Gen2 GC. To compact, downcast to `MemoryCache` and call `Compact` when needed.

[2017-03-27 18:32] JunTaoLuo commented on #221
Will file follow up issue for revisiting the memory cache design.

[2017-03-27 18:32] #221 closed

[2017-03-27 19:40] JunTaoLuo commented on #287
I added that as part of https://github.com/aspnet/Caching/pull/288

[2017-03-27 19:40] #287 closed

[2017-03-27 19:59] Eilon commented on #221
@JunTaoLuo is this change announcement-worthy?

[2017-03-27 21:10] JunTaoLuo commented on #221
Yup that's why there is a breaking changes tag. Will get to it.

[2017-03-27 21:29] muratg commented on #221
@JunTaoLuo Do you want to keep the bug open in that case?

[2017-03-27 23:06] JunTaoLuo commented on #270
@dusda I believe the issue was fixed by the patches in FTS and LTS. Please re-open if you still see this after updating to the latest patches.

[2017-03-27 23:06] #270 closed

[2017-03-28 02:21] JunTaoLuo opened #289 "Revisit MemoryCache design"
The current design of MemoryCache is awkward due to the IMemoryCache interface where `ICacheEntry CreateEntry(object key)` exists instead of a more intuitive `Set(object key, object value)`. The expected usage pattern is to call `Dispose()` on the `ICacheEntry` to "commit" the entry to the cache but this is unintuitive as well. This proved to be an issue when attempting to implement a strategy bas

[2017-03-28 02:39] JunTaoLuo commented on #221
I will open a different issue in the Discussion milestone for the discussion to the announcement.

[2017-03-28 02:41] JunTaoLuo opened #290 "Discussion: Removal of MemoryCache's GC compaction trigger"
Discussion for https://github.com/aspnet/Announcements/issues/228

[2017-03-28 18:31] Antaris commented on #290
Question - why the requirement to downcast, instead of defining the `Compact` method on `IMemoryCache`?

[2017-03-28 19:46] JunTaoLuo commented on #290
We did try this in a previous iteration when removing the compaction trigger. However, this functionality is specific to our implementation in `MemoryCache` and it's unclear whether we should require every `IMemoryCache` to support `Compact`. cc @davidfowl @Tratcher ?

[2017-03-28 19:49] Tratcher commented on #290
The Compaction needs a better design before it's exposed on the interface.

[2017-03-28 20:50] JunTaoLuo commented on #290
It's unlikely that `Compact` will remain once we revisit the design of `MemoryCache` in #289.

[2017-03-28 22:46] JunTaoLuo commented on #276
Seems like this was resolved

[2017-03-28 22:46] #276 closed

[2017-03-30 20:09] shaynevanasperen opened #291 "Microsoft.Extensions.Caching.Abstractions should target full .NET Framework"
I want to publish a NuGet package that targets `netstandard1.1`, `netstandard1.3`, `net45` and `net46`. My package depends on [Microsoft.Extensions.Caching.Abstractions](http://www.nuget.org/packages/Microsoft.Extensions.Caching.Abstractions/) but since that package only targets `netstandard1.0`, I can't support `net45` or `net46` without requiring consumers stuck on those older frameworks having

[2017-03-31 18:20] grahamehorner opened #292 "Redis exception on linux"
using the  on windows/windows nano docker works great, the same code targeting docker linux however throws exception on trying the get values from the redis server ?

An exception of type 'System.AggregateException' occurred in System.Private.CoreLib.ni.dll but was not handled in user code occurred.

Stack Trace:
"   at System.Threading.Tasks.Task.ThrowIfExceptional(Boolean includeTaskCanceledExce

[2017-03-31 21:25] Tratcher commented on #292
This does not appear to be ASP.NET related. It's either StackExchange.Redis (https://github.com/StackExchange/StackExchange.Redis) or .Net Core.

[2017-03-31 21:57] grahamehorner commented on #292
@thatcher I will link StackExchange.Redis to this issue

[2017-04-01 07:53] grahamehorner commented on #292
Is it worth considering implementing some integration tests so should StackExchange.Redis implementations change and break functionality that this is detected during build/testing on the relavent platforms?

[2017-04-11 13:12] rangp opened #293 "Calling RedisCache GetAsync fails on second call in ViewComponent that is rendered in PartialView"
I just encountered a weird bug that was hard to isolate, but it seems that the redis implementation of IDistributedCache becomes trapped in a deadlock when `GetAsync` is called in a `ViewComponent` that is rendered from a `PartialView`, not on the first call but on the second. Instead of returning the expected `byte[]` the call will run forever, or at least until the timeout is reached and the con

[2017-04-11 22:01] JunTaoLuo commented on #293
Looks like you are using Microsoft.Extensions.Caching.Redis.Core which is not a package we release. I took a look at the binaries and the major difference is that we have fixed an issue when connecting to the redis cache https://github.com/aspnet/Caching/pull/266. Can you try Microsoft.Extensions.Caching.Redis 1.1.1 and see if you still reproduce the issue?

[2017-04-12 07:23] rangp commented on #293
Thanks for the clarification, this was not clear to me. I just contacted the owner of `Microsoft.Extensions.Redis.Core` and asked him to clarify that this is not an official microsoft release in his package description, since the name is quite confusing.

Changing the package indeed made a difference. Now the bug sometimes occurs on the first call to `GetAsync` not just the second one. It's less d

[2017-04-15 16:48] LonghronShen commented on #121
Hi there, I have one question. Why the rel/1.0.2 branch still use StackExchange.Redis.StrongName (>= 1.0.333) dependency rather than StackExchange.Redis.StrongName (>= 1.1.605) which rel/1.1.x has? And since rel/1.1.x supports .NET Standard platform, why not make LTS branch support it?

[2017-04-15 17:02] aagarwal10 opened #294 "Question: RedisCache instanceName publicly settable outside constructor"
I am currently using Redis Caching along with SessionMiddleware for distributed caching of Session in my aspnetcore app in a web farm setup.

Now, I want to use the same Redis Cache in my current aspnetcore app to cache some other data in one of my module.
The problem I have is that InstanceName (or _instance variable inside RedisCache.cs) is only settable via constructor which means I cannot shar

[2017-04-15 17:04] aagarwal10 commented on #294
I can fork and make this change if you guys are ok with it. Haven't done it yet.
Please advise

[2017-04-18 05:19] grahamehorner commented on #292
https://github.com/StackExchange/StackExchange.Redis/issues/410#issuecomment-294364420

[2017-04-18 05:23] grahamehorner commented on #292
Seems to be a number of issues with.net core and redid currently across the platforms so we are looking at using sql server caching as a interim solution to avoid this being a blocker for us.

[2017-04-19 03:09] 1amirjalai commented on #255
I think if it would be thread safe the problem will be gone. currently distributed cache tag helpers because of the way its implemented dose not have any thread safety and pooling issue. but when i use idistributedcache interface for setting and getting cache race condition, pooling error happens

[2017-04-19 03:21] 1amirjalai opened #296 "IDistributedCache and RedisCache are not thread safe"
**IDistributedCache** and **RedisCache** are not thread safe on a high traffic website i got the following error.

[code]

what should be done?

[2017-04-19 12:47] kimpenhaus commented on #293
I am not 100% sure but I might have stumbled across a similar issue when using `RedisCache` / `IDistributedCache` from within a `TagHelper` which is executed during `RenderPartial`.

This issue only seems to appear inside `Azure-Environment` not when using a local Redis installation.

I was able to trace the problem by remote debugging to down to this function: `Task<byte[]> GetAsync(string key)`

[2017-04-19 13:56] rangp commented on #293
Thanks for that, I tested `Html.RenderPartialAsync` on my demo project and it fixes the issue. I took a look at the source code and `Html.RenderPartial` has the same implementation as `RenderPartialAsync` except for calling `result.GetAwaiter().GetResult();`

So it seems that `GetAwaiter().GetResult();` is causing the deadlock, which sort of makes sense. But what I don't get is how only Redis can

[2017-04-24 17:36] biste5 opened #298 "MemoryCache doesn't notify expired items added via CreateEntry"
When adding entries to [MemoryCache](https://github.com/aspnet/Caching/blob/dev/src/Microsoft.Extensions.Caching.Memory/MemoryCache.cs) only using CreateEntry pattern, then I experience that the notification callback of a item expired is only invoked whenever another object is being requested from cache.
This is inconvenient.

I suspect this is because CreateEntry doesn't call `StartScanForExpired

[2017-04-26 00:43] benaadams commented on #296
Related? https://github.com/StackExchange/StackExchange.Redis/issues/611

[2017-04-26 08:58] benaadams commented on #296
Timeout doc is here: https://stackexchange.github.io/StackExchange.Redis/Timeouts

[2017-04-26 11:01] 1amirjalai commented on #296
no it's related to how redis is initialized

http://gigi.nullneuron.net/gigilabs/setting-up-a-connection-with-stackexchange-redis/
https://docs.microsoft.com/en-us/azure/redis-cache/cache-web-app-howto

[2017-04-29 05:32] mikeharder opened #301 "Address package downgrade warnings"
The latest build of `UniverseCoherence\2.0.0-preview1` (24826) contains package downgrade warnings in this repo.  All downgrade warnings are related to `StackExchange.Redis.StrongName`.

http://aspnetci/viewLog.html?buildId=214456&tab=buildResultsDiv&buildTypeId=UniverseCoherence

[code]

[2017-05-08 21:13] #301 closed

[2017-05-11 21:31] JunTaoLuo commented on #298
How are you using the `CreateEntry` method? The pattern isn't intuitive but the expected usage is as illustrated in https://github.com/aspnet/Caching/blob/dev/src/Microsoft.Extensions.Caching.Abstractions/MemoryCacheExtensions.cs#L42-L44

The call to `Dispose()` is what actually adds the entry to the cache which in turn calls `SetEntry`. That should kick off a scan for expired entries.

[2017-05-11 21:40] JunTaoLuo commented on #298
There were discussions on revisiting the MemoryCache design here: https://github.com/aspnet/Caching/issues/289

[2017-05-12 21:00] danroth27 commented on #294
@JunTaoLuo @muratg Can you guys take a look at this one?

[2017-05-12 22:00] muratg commented on #113
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 22:00] #113 closed

[2017-05-12 22:00] muratg commented on #187
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 22:00] muratg commented on #219
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 22:00] #219 closed

[2017-05-12 22:00] muratg commented on #235
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 22:00] #235 closed

[2017-05-12 22:01] muratg commented on #236
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 22:01] #236 closed

[2017-05-12 22:01] muratg commented on #243
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 22:01] #243 closed

[2017-05-12 22:01] muratg commented on #264
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 22:01] #264 closed

[2017-05-12 22:01] muratg commented on #290
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 22:01] #290 closed

[2017-05-16 17:50] joakimskoog opened #305 "Question: De facto standard?"
I'm just wondering if these libraries are the de facto standard solution for caching in a .NET Standard library?  They seem to be a bit heavy and have lots of dependencies for what I'm trying to accomplish but I can't be arsed to roll my own implementations.

[2017-05-16 17:55] davidfowl commented on #305
What does de factor standard mean to you? It's a caching abstraction and library written by the ASP.NET team. I don't know what level of "defacto" you're looking for.

[2017-05-16 18:02] joakimskoog commented on #305
Fair enough, I guess that the question wasn't great. Let me rephrase myself; is it preferable to use these abstractions on the client side over, say for example, rolling your own more lightweight implementations?

[2017-05-16 18:04] davidfowl commented on #305
Honestly, these were made to support ASP.NET applications. Although there are generally applicable, we don't do any extensive testing on client side applications.

[2017-05-16 18:21] joakimskoog commented on #305
Ok, sounds good. I'll probably use it anyway (or [CacheManager](https://github.com/MichaCo/CacheManager)) since this [discussion](https://github.com/dotnet/corefx/issues/14529) had some great information.

[2017-05-17 06:33] davidfowl commented on #305
👍

[2017-05-19 18:23] ferrx commented on #187
You have given this guidance:

Wouldn't you face the same pitfall when using this strategy? How is pulling a list of stored keys, iterating over them, and calling `Remove()` safer than a `RemoveAll()`.. which I assume would be the same operation?

RemoveAll would face the same pitfall as a simple Remove (or bulk Remove calls), but would save API users the trouble of storing/managing keys.

[2017-05-22 22:11] #245 closed

[2017-05-23 14:17] ferrx opened #307 "Getting resolution error when trying to dotnet build"
My environment: Windows 7 Pro SP1

Procedures:
1) `git clone` -- good
2) `dotnet restore` -- good
3) `dotnet build` -- errors like:

I see the same errors listed in the currently failing AppVeyor build for the repo at https://ci.appveyor.com/project/aspnetci/caching/build/1.0.916#L267

[2017-05-23 21:41] JunTaoLuo opened #309 "Discussion: Added support for CancellationToken to IDistributedCache"
Discussion for: https://github.com/aspnet/Announcements/issues/245

[2017-05-25 00:28] cihadsevim opened #310 "Cache Tag Helper And Remote SQL Connection Performance Issiue"
I've a sql connection which is connected to an Azure Remote SQL Database. Because it's a remote connection I would like to cache some of the output via using tag helper.Goal is speeding up the page responses.

I implement some @DateTime.Now blocks on view to see is it working?, it works, it caches the page between <cache></cache> tags however after the second hit the load speed is the same. Output

[2017-05-25 00:31] sebastienros commented on #310
You are executing the query on every request. Try to move the query in the cached section of your view, or use `IMemoryCache` to store the results.

[2017-05-25 00:34] #310 closed

[2017-05-25 00:35] cihadsevim commented on #310
I'm sorry but I didn't understand a single bit. Do you mind showing some code example or little more explanation?

[2017-05-25 00:38] sebastienros commented on #310
I updated my answer in the meantime.

[2017-05-25 00:52] cihadsevim commented on #310
Thanks.

I thought <cache> tag works like [OutputCache](https://docs.microsoft.com/en-us/aspnet/mvc/overview/older-versions-1/controllers-and-routing/improving-performance-with-output-caching-cs). Sadly it doesn't. And it seems there isn't a solution like OutputCache on Asp.net Core for now.

[2017-05-25 00:58] sebastienros commented on #310
There is an output cache middleware, it's called ResponseCache. And it's supported, that will also work in your case https://docs.microsoft.com/en-us/aspnet/core/performance/caching/response

[2017-05-25 01:21] cihadsevim commented on #310
I tried ResponseCache, didn't work. Tried it again. Still doesn't work. I used SQL Profiler to watch sql queries unfortunately it's keep executing select query.

[2017-05-27 06:14] molinjinyi opened #311 "建议增加按前缀清理缓存的接口"
[code]

[code]

对于列表数据，你很难用明确的key来定位删除，没有这个接口缓存是不完美的

[code]
或者把连接暴露出来，让开发者更自由的使用

[2017-05-31 00:09] aagarwal10 commented on #294
@danroth27 @JunTaoLuo @muratg - Any update on this, please let me know you want me to do this. I can fork the dev and make the change.

[2017-05-31 12:15] biste5 commented on #298
Thanks, I've found also a related discussion, with some hings, on SO
https://stackoverflow.com/questions/42535408/net-core-memorycache-postevictioncallback-not-working-properly/42536192

[2017-05-31 17:49] muratg commented on #294
@Tratcher thoughts?

[2017-05-31 18:40] JunTaoLuo commented on #298
The comments on SO are correct. Closing issue for now, feel free to re-open if there are further issues. Thanks!

[2017-05-31 18:40] #298 closed

[2017-06-01 18:48] Tratcher commented on #294
Making _instance publicly settable wouldn't help, you'd be changing it for all consumers. You could just as easily append your own key prefix before calling into the same IDistributedCache instance.

[2017-06-03 00:52] aagarwal10 commented on #294
@Tratcher -- Is there a way to limit the size of data some can set in the cache using Redis extension from Microsoft? Assume IDistributedCache is used from a controller in AspNet Core.

[2017-06-03 01:35] Tratcher commented on #294
Nothing built in. You'd have to wrap the IDistributedCache and filter it manually.

[2017-06-03 02:14] aagarwal10 commented on #294
Cool, thanks

[2017-06-03 02:14] #294 closed

[2017-06-05 22:27] JunTaoLuo commented on #307
This should have been an occasional problem which is encountered when we were pushing packages to the myget feed. If you clear your caches and restart the build it should succeed.

[2017-06-05 22:27] #307 closed

[2017-06-07 00:58] natemcmaster commented on #291
It seems there are a few separate concerns here, but I'll simplify this to (1) too many packages and (2) .NET Framework 4.5 support.

As we announced last week, we intend to move this and all Microsoft.Extensions.\* packages to .NET Standard 2.0 before the 2.0.0 release (see https://github.com/aspnet/Announcements/issues/249). This will address **(1)** as NETStandard.Library 2.0.0 will consolidate

[2017-06-07 00:58] #291 closed

[2017-06-13 19:12] anpete opened #316 "CacheExtensions methods do not validate their arguments"
The public extension methods in MemoryCacheExtensions.cs (file name doesn't match class name) do not validate their arguments.

[2017-06-14 15:27] israellot commented on #225
I had success using redis pub/sub for synchronizing local memory cache with redis, but I'm afraid it adds too much network overhead if working with a large number of keys.

[2017-06-14 22:05] Tasteful opened #319 "Question: Max memory"
If I use the MemoryCache on an 64-bit environment is there any upper limit of memoryusage other then the physical memory on the server?

If I have 50 or 100 GB as the physical memory limit on the server, will that work without problem for the cache or garbage collection?

[2017-06-15 07:05] darkengines opened #320 "Method not found - Microsoft.Extensions.Caching.Memory.MemoryCacheOptions.set_CompactOnMemoryPressure(Boolean)"
# csproj

[code]
I have https://dotnet.myget.org/F/dotnet-core/api/v3/index.json registered as a Nuget feed.

# Issue
This line:

`EngineFactory.CreatePhysical(Path.Combine(HostingEnvironment.ContentRootPath, @"Mailing\Templates"))`

(RazorLight template engine creation https://github.com/toddams/RazorLight)
Known issue : https://github.com/toddams/RazorLight/issues/69

Throws:

Can you do somethi

[2017-06-15 17:25] Tratcher commented on #320
CompactOnMemoryPressure was removed in 2.0. It sounds like RazorLight depends on 1.1.1. You won't be able to use it with the 2.0 packages until they update their dependency.

[2017-06-15 17:27] Tratcher commented on #320
@JunTaoLuo @muratg

[2017-06-15 18:23] JunTaoLuo commented on #320
We may want to bring back the options and mark it as obsolete so we don't break consumers when they switch to 2.0.0. We removed it assuming no one was depending which is obviously not the case. Otherwise, we can wait until all third parties react accordingly.

[2017-06-15 18:41] muratg commented on #320
@glennc Thoughts?  Do we want to bring back the options and add obsolete attributes?

[2017-06-16 11:04] code-mogwai commented on #221
Just checking the workaround for version 1.0.0 is to set CompactOnMemoryPressure to false for the MemoryCache instance?

(FYI, what we think we are experiencing as a result of this design bug is poor caching and only 30% memory utilisation on a server with 16GB RAM. Another server with 32GB RAM and the same application is also at 30% memory utilisation.)

[2017-06-20 17:54] JunTaoLuo commented on #221
@code-mogwai yes, if this is affecting you, you should set `CompactOnMemoryPressure` to false. If you need to compact, you can downcast to `MemoryCache` and call `Compact` directly.

[2017-06-27 19:11] maucaro opened #321 "Cache provider for Service Fabric"
It would be very nice for ASP.NET Core apps running on Service Fabric to be able to use SF itself as the IDistributedCache instead of having to rely on SQL or Redis. Any thoughts on implementing this?

[2017-06-28 17:33] MatthewLymer opened #322 "MemoryDistributedCache is not distributed"
I think that `MemoryDistributedCache` should be removed in its entirety and a no-op cache provider should be its replacement.

From the article https://docs.microsoft.com/en-us/aspnet/core/performance/caching/distributed, it states:

Furthermore, it seems that `MemoryDistributedCache` is the default implementation registered in the default dotnet core IoC container.

[2017-06-29 14:40] pranavkm opened #324 "Consider re-enabling some skipped tests"
The repo has 42 skipped tests that results in 84 build warnings being produced as part of building. Both of these are because the test expects infrastructure (Redis Server \ Sql Server) to be present on the machine.

Could we instead

a) convert these in to conditional facts that attempt to check if the infrastructure exists (for instance all our build agents have Sql Server installed)?
b) Just sk

[2017-06-29 19:59] JunTaoLuo opened #325 "Limit number of items in memory cache"
We need to add an optional count limit on the memory cache to ensure a there is a maximum limit on the memory use of `MemoryCache`. When the count limit is reached, we will trim a percentage of the items in the cache (we have used 10% in the past).

cc @muratg @Eilon

Post 2.0 we plan to include a size hint to the memory cache and design more extensible eviction policies.

[2017-06-29 20:03] JunTaoLuo opened #326 "Size hint based eviction for MemoryCache"
Following up on https://github.com/aspnet/Caching/issues/325.

`MemoryCache` does not know the size of the items it caches but the user of `MemoryCache` may know the size. In those cases we want to provide a method for size based eviction to guarantee a limit on the memory footprint of the cache. We can also add an option to require size hint when adding an item to the memory cache. Having a size

[2017-06-29 20:03] JunTaoLuo commented on #325
Followup item filed in #326

[2017-06-29 21:02] Tratcher commented on #326
Recommended for 2.1

[2017-06-30 17:42] JunTaoLuo commented on #261
@muratg suggest we punt this.

[2017-07-03 20:44] javiercn opened #329 "Add MemoryDistributedCacheOptions to enables configuration of the MemoryCache used"
https://github.com/aspnet/Caching/blob/dev/src/Microsoft.Extensions.Caching.Memory/MemoryCacheServiceCollectionExtensions.cs#L83

It makes it impossible to configure it.

[2017-07-03 21:10] muratg commented on #329
cc @davidfowl

[2017-07-04 01:39] JunTaoLuo commented on #325
We decided to implement #326 instead.

[2017-07-04 01:39] #325 closed

[2017-07-05 20:04] rendmath commented on #322
Many application authors will not need (or want) to use an actual distributed caching solution (Redis, etc.).

On the other side, library authors willing to provide distributed caching capabilities for their code will only want to use IDistributedCache if they can reasonably trust the IoC to give them an object with actual caching semantics. Otherwise, they won't use the interface at all and will

[2017-07-05 20:22] javiercn commented on #326
Some notes from our discussion:
* Make sure we don't register MemoryDistributeCache on our components.
* Deprecate/remove the AddDistributedMemoryCache extension method. (Also update the comment to reflect that if this method is used, the cache will be shared among all IDistributedCache consumers).
* Force a size limit on DistributedMemoryCache
* Have each of our components on the framework that c

[2017-07-06 21:57] muratg commented on #320
Small work item to ensure we don't break 3rd party libraries.  Assigning in 2.0.0 to @JunTaoLuo.

[2017-07-07 18:39] #320 closed

[2017-07-07 20:10] Tratcher opened #334 "Set a dynamic default for MemoryDistributedCache's size limit"
Having a fixed limit doesn't scale well across different system configurations. The default should be a percentage of total system memory.

Consider something similar for CacheTagHelper and ResponseCaching.

[2017-07-07 23:48] JunTaoLuo commented on #329
POR:

- The MemoryDistributedCacheOptions should mirror the options available on MemoryCacheOptions
- A default size of 200 MB will be set
- The MemoryDistributedCache will by default create a new MemoryCache using the configured MemoryDistributedCacheOptions.

[2017-07-08 00:41] JunTaoLuo commented on #326
@javiercn the updated POR is collected in #336

[2017-07-08 00:41] #326 closed

[2017-07-08 00:45] #329 closed

[2017-07-08 11:43] ohadschn opened #338 "Allow direct access to ICacheEntry and make it thread safe"
Currently all methods that return a value from the cache (most importantly `TryGetValue`) directly return the underlying `object`. This is convenient but does not allow for a scenario of updating an entry's expiration after it has been added. Even if I retain a reference to the original entry returned from `CreateEntry` it won't be good enough as no memory barriers are raised when accessing its pr

[2017-07-08 12:52] Tratcher commented on #338
Which expiration are you specifically trying to change and why? AbsoluteExpiration, AbsoluteExpirationRelativeToNow, SlidingExpiration, or ExpirationTokens?

[2017-07-08 13:21] ohadschn commented on #338
I'm proposing to allow all types of expirations to be set after the value has been added to the cache.
As for why, the entry's expiration date might be a function of the value. I want to be able to do this:
[code]

For this to work well, I'd need https://github.com/aspnet/Caching/issues/240 too.

[2017-07-08 13:24] ohadschn commented on #240
It would be great if in the async version, expiry could be set as a function of the retrieved value (see https://github.com/aspnet/Caching/issues/338).

[2017-07-08 14:20] ohadschn commented on #338
I think something like this could be broken too:

[code]
Because after the `await` you might be in a different thread whose changes are not observed by the `GetOrCreateAsync` thread that created the cache entry (and would later put it in the cache dictionary).

[2017-07-08 16:15] Tratcher commented on #338
Have you tried using a custom IChangeToken that wrapped your value and managed its timeout internally?
https://github.com/aspnet/Common/blob/52c69ec4d9c0e3de40da092e3721ace0ce0ac489/src/Microsoft.Extensions.Primitives/IChangeToken.cs

[2017-07-08 18:04] ohadschn commented on #338
Interesting, this could work:

[code]
However this won't allow for sliding expirations. Also, https://github.com/aspnet/Caching/issues/240 would still be required to guarantee the factory is only called once.

[2017-07-08 20:44] Tratcher commented on #338
Oh, I was thinking more along the lines of:
[code]

Sliding expiration would only work if you kept pinging something on the value each time you used it. E.g. value.ExtendLifetime().

[2017-07-08 21:56] ohadschn commented on #338
Yes, if you need custom expiration logic that might make more sense, but I reckon using the existing `CancellationChangeToken` rather than rolling your own would be simpler in most cases.

Regardless, I am a bit concerned about the thread safety of the code you posted. You operate on `cacheEntry` from a different thread than the one it was created in, so I don't believe changes made on it after th

[2017-07-08 23:06] Tratcher commented on #338
Fair point, I was assuming behavior of the existing synchronous extensions like GetOrAdd, not the async/lazy versions you've defined.

[2017-07-10 21:37] Tratcher opened #340 "Remove IDisposable from ICacheEntry"
https://github.com/aspnet/Caching/blob/65228be1d9aba6f2c360553868010f18706ee302/src/Microsoft.Extensions.Caching.Abstractions/ICacheEntry.cs#L13

IDisposable recommends a `using` pattern as follows, where Dispose commits the entry to the cache:
[code]

However, if CreateValue throws then the entry is still committed to the cache as null. Thus the `using` pattern should not be used with ICacheEntry

[2017-07-16 16:43] epignosisx opened #343 "[RedisCache] Allow injection of ConnectionMultiplexer"
Currently the ```RedisCache``` creates the ```ConnectionMultiplexer``` and does not allow access to it. This prevents the application from reusing the ```ConnectionMultiplexer``` for other operations like PubSub.

Granted, the application could create another ```ConnectionMultiplexer```, but the recommendation is to have only one per application.

I was thinking if it would be possible to have a s

[2017-07-16 16:49] epignosisx commented on #343
Just noticed there is an [open pull request](https://github.com/aspnet/Caching/pull/318) enabling this scenario. But did not find an issue discussing the proposed change, so I'll keep this one open to discuss it.

[2017-07-17 03:49] huoxudong125 opened #344 "is there a similar project for asp.net(.Net Framework.)"
I want to use this function in asp.net Web API 2 , is there a similar project ?

[2017-07-17 04:29] davidfowl commented on #344
Caching isn't tied to ASP.NET Core.

[2017-07-17 05:50] huoxudong125 commented on #344
@davidfowl  I don't want introduce dotnet core in asp.net project.

[2017-07-17 15:51] Tratcher commented on #344
The projects like Microsoft.Extensions.Caching.Memory cross target .NET and .NET Core. Try it.

[2017-07-19 11:02] cex-pnaik opened #345 "How to get cache size in .net core?"
My application is in .net core pointing to framework 1.1.1. I am using in-memory caching. After setting data in cache, I need to know the cache size. Can someone please tell me, how can this be done?

[2017-07-19 15:49] Tratcher commented on #345
This count is not part of the public contract because it is very unstable, it can change at any moment even without a user action. [Count](https://github.com/aspnet/Caching/blob/rel/1.1.2/src/Microsoft.Extensions.Caching.Memory/MemoryCache.cs#L71) is available for testing purposes if you downcast IMemoryCache to MemoryCache.

Or were you referring to total memory size?

[2017-07-26 10:43] andrewgunn commented on #187
@muratg Not sure why you closed this issue without having a resolution in place or at least a plan for the future. I agree with @pebezo that this sort of functionality is lacking.

At best, I was hoping for a way to purge everything by doing a partial match on a key. To elaborate, `string.Contains/StartsWith/EndsWith` would suffice, but Regex support would be the icing on the cake.

At worst, I'd

[2017-08-07 15:27] MetalKid commented on #107
I believe the point being made here is similar to the one I'm running into now.  There should be one generic interface for both and the implementation can deal with the details.  Now if I have a project that I start with just Memory cache and after a while I realize I need to change to either distributed or Redis or something else, I have to go back and update ALL my code to use the other style in

[2017-08-07 15:37] sebastienros commented on #107
Use the `IDistributedCache` interface then, not the memory cache. You won't have to change anything and you get a single interface.

You should create your own abstraction so you can use any other service whenever you need to. Even better, you can define many interfaces for each of your components. This will let you change the actual implementation for each of them.

[2017-08-07 16:01] MetalKid commented on #107
I don't want to take the serialization hit if I don't have to.  In fact, I'd rather have a hybrid scenario where depending on the situation, one might go to memory while the other goes distributed (with the proper options that would end up preferring one or the other).  But it would be up to the implementation to decide where to put it.  Then again, this might be breaking SRP a bit, but the altern

[2017-08-07 18:13] sebastienros commented on #107
I like this too. This is why not so ironically I personally depend on `IMemoryCache` and other times `IDistributedCache`.

[2017-08-07 18:16] MetalKid commented on #107
In your case, though, it sounds like the service is making the determination as to which cache to use.  I would say it is the cache's own responsibility to determine which to use, not the service's job.  If the service makes the decision, I feel like it knows too much.

[2017-08-09 01:24] jeffrymorris opened #347 "CancellationToken added to 2.0 IDistributedCache breaks 1.0 based cache implementations"
Hi All -

This[ commit ](https://github.com/aspnet/Caching/commit/eae4e40bc29044427ca4944067213f426aa36116) adds cancellation tokens to some of IDistributableCache members, which causes a MissingMethodException when a 1.0 based implementation is used in a 2.0 project. See [here](https://forums.couchbase.com/t/idistributedcache-missing-method-exception/) for reference.

The question I have is why m

[2017-08-09 01:25] Tratcher commented on #347
Even adding a new overload to the interface would have been a breaking change.

[2017-08-09 01:39] jeffrymorris commented on #347
@Tratcher - true, but since its dynamically invoked vs compiled it shouldn't it resolve?

[2017-08-09 02:17] Tratcher commented on #347
It depends on how it was called, among other things. The issue is moot at this point though because the 2.0 bits have been finalized.

[2017-08-09 02:38] #347 closed

[2017-08-15 21:22] muratg commented on #343
Closing https://github.com/aspnet/Caching/pull/318 as it entails to a breaking change. Keeping this bug open for any alternatives or for a potential major release change.

[2017-08-15 21:38] israellot commented on #343
I believe that injecting IConnectionMultiplexer as a dependency is the path to go.

I share @epignosisx concerns about  **StackExchange.Redis** being a implementation detail or not.
The pragmatic way to address it would be have a service interface and ** StackExchange.Redis ** being used in a adaptor that implements that interface. But that would possibly mean too many levels of generalization tho

[2017-08-16 03:55] epignosisx commented on #343
@muratg could you share where does the team stand on whether StackExchange.Redis should be kept as an implementation detail or not?

Answering this question is critical to make progress on this issue. As @israellot pointed out the alternatives are more abstractions that probably will be undesirable.

[2017-08-16 16:59] muratg commented on #343
cc @davidfowl

[2017-08-22 14:20] DeveloperUniversity opened #348 "After upgrading Asp.net core 1.1 to 2.0: "GetAsync does not have an implementation""
Upgraded an ASP.NET MVC Core 1.1.2 project under active development to 2.0 and got an error where one did not previously exist (no code has changed other than referenced libraries).

In Startup.cs / ConfigureServices(), when calling:

services.RegisterServices();

I *now* get the exception:

System.TypeLoadException occurred
  HResult=0x80131522
  Message=Method 'GetAsync' in type 'Microsoft.Exten

[2017-08-22 14:24] davidfowl commented on #348
It looks like you didn't properly update your dependencies. Either that or you have another dependency that relies on the 1.x version of caching that needs to be recompiled. What does your project file look like?

[2017-08-22 14:29] DeveloperUniversity commented on #348
(Hey David, huge fan.  :)

Project file:

[code]

[2017-08-22 14:37] davidfowl commented on #348
Any thing Microsoft.Extensions.* or Microsoft.AspNetCore.* or Microsoft.EntityFrameworkCore.* should be 2.0.0. It looks like you forgot to update:

- Microsoft.Extensions.Caching.Redis.Core
- Microsoft.EntityFrameworkCore.SqlServer.Design

Also, I'd recommend reading this document https://docs.microsoft.com/en-us/aspnet/core/migration/1x-to-2x/. It explains how to properly migrate from ASP.NET Cor

[2017-08-22 14:50] DeveloperUniversity commented on #348
I admit I'm stumbling through this so I apologize if I'm just dense ... I don't think Microsoft.Extensions.Caching.Redis.Core has been released to NuGet (?) because ...

https://www.nuget.org/packages/Microsoft.Extensions.Caching.Redis.Core/

... only shows 1.0.3 available, and when I attempted to manually change the version number in my project file to 2.0.0, I get an error:

[code]

(Same is tru

[2017-08-22 14:52] davidfowl commented on #348
@DeveloperUniversity I would start by reading the article and removing the appropriate package references and replacing them with the .All package.

[2017-08-22 14:53] davidfowl commented on #343
Yes we should allow for this. Not sure about injecting the `IConnectionMultiplexer` as a dependency though we should have an option that allows setting a `Func<IConnectionMultiplexer>`

[2017-08-22 18:40] natemcmaster commented on #324
+1. The SQL Server tests haven't run in a long time. cc @muratg can we triage this one?

[2017-08-22 23:22] muratg commented on #324
I agree that we need to do something. We can possibly move the tests that require additional resources on the machine (redis/sql/etc) to a separate suite.  We'd possibly run some of those tests with the Antares test runs that we're planning to do daily.

[2017-08-23 05:09] Tratcher commented on #348
Microsoft.Extensions.Caching.Redis.Core wasn't an official package (look at the owner). Use Microsoft.Extensions.Caching.Redis instead. https://www.nuget.org/packages/Microsoft.Extensions.Caching.Redis/

[2017-08-23 16:10] DeveloperUniversity commented on #348
This was resolved by following the instructions, pulling out ALL package reference sections and adding just a few back in one by one.  Thank you.

[2017-08-23 16:10] #348 closed

[2017-08-24 09:03] generik0 opened #349 "Microsoft.Extensions.DependencyInjection 2.0.0 add AddDistributedRedisCache failes with GetAsync"
Hi

after updating to 2.0.0 in aspnetcore and Microsoft.Extensions.DependencyInjection the AddDistributedRedisCache
thows when used with aspnetcore project running on  .net framework:

Message	"Method 'GetAsync' in type 'Microsoft.Extensions.Caching.Redis.RedisCache' from assembly 'Microsoft.Extensions.Caching.Redis, Version=1.0.3.0, Culture=neutral, PublicKeyToken=adb9793829ddae60' does not have

[2017-08-24 09:03] #349 closed

[2017-08-24 09:03] generik0 commented on #349
Found update, with test again

[2017-08-29 06:27] TrplM opened #351 "System.OperationCanceledException at Microsoft.Extensions.Caching.Redis.RedisCache+<RefreshAsync>d__25.MoveNext"
Hi

I am getting a lot of these errors reported in azure app insights. Any idea on what could be causing this and how to track down what is throwing the exception.

This is the stack trace logged in app insights

[code]

[code]

[code]

[2017-08-29 19:00] Tratcher commented on #351
This issue was moved to aspnet/Session#189

[2017-08-29 19:00] #351 closed

[2017-10-02 22:24] JunTaoLuo commented on #322
The `MemoryDistributedCache` is not meant to be an actual distributed cache. It is meant to be a local `MemoryCache` based implementation that implements the `IDistributedCache` API. It is mainly designed to be a testing or debugging mechanism. The `MemoryDistributedCache` is no longer being added by default and an explicit call to `services.AddDistributedMemoryCache()` is required.

[2017-10-02 22:24] #322 closed

[2017-10-03 11:39] antonGritsenko opened #353 "RegisterPostEvictionCallback is not a real event?"
Hello all

I'm bit confused about RegisterPostEvictionCallback. In old (and I'm start to be thinking "old good") ASP.NET we there able to use session event to clean up session (for instance, to Dispose and Disconnect. I know, using such objects are not really good, but you can address this to Microsoft PG's of different products who did such APIs).
Looks like in .NET Core this doesn't work at all.

[2017-10-03 19:46] JunTaoLuo commented on #353
This is by design as the `PostEvicionCallback` is not an event. The callback is executed when the cache entry is removed from the cache, not on expiration.

The removal of expired entries is done lazily after expiration upon an action on the cache. This is why the callback executed on your next request after expiration. For performance considerations we remove expired items in batches which has a

[2017-10-03 20:06] antonGritsenko commented on #353
Thank you for detailed explanation.

[2017-10-03 20:06] #353 closed

[2017-10-06 21:29] ccalvarez opened #355 "The version of Microsoft.NET.Sdk used by this project is insufficient to support references to libraries targeting .NET Standard 1.5 or higher"
Hi.

I have cloned this repo, ran the `build.cmd /t:Restore` command, and opened solution with Visual Studio 2017.  When I build the solution, or any project separately, I get this errors:

1. **The version of Microsoft.NET.Sdk used by this project is insufficient to support references to libraries targeting .NET Standard 1.5 or higher.  Please install version 2.0 or higher of the .NET Core SDK.**

[2017-10-07 16:34] Tratcher commented on #355
@jkotalik @natemcmaster

[2017-10-07 17:12] ccalvarez commented on #355
@jkotalik @natemcmaster @Tratcher:

Thanks!

I've just found the solution:

What I understand is that I had installed .NET Core 2.0 SDK, and since I had the folder `c:\Program Files\dotnet` in the PATH system environment variable, my Visual Studio always detected that SDK instead of SDK Version 2.1.0-preview1-007042 stated in global.json file and installed with the `build.cmd` command.

What I hav

[2017-10-07 19:55] jkotalik commented on #355
Nice job finding that on your own! We actually have it documented here https://github.com/aspnet/Home/wiki/Building-from-source.

[2017-10-07 19:55] #355 closed

[2017-10-28 13:38] JadynWong commented on #343
I know the application has created a `ConnectionMultiplexer`.
Why the application must be create another `ConnectionMultiplexer`?

[2017-10-31 16:00] plaisted commented on #187
Any suggestions on how to handle the use case @andrewgunn stated? This seems like a very common use case for web applications.  An event occurs (eg. updating customer N) that will invalidate cache results for related data (eg. orders) so we want to clear all the associated cached data.

[2017-10-31 16:15] Tratcher commented on #187
@plaisted Attaching a IChangeToken to the group of entries you want to remove is the recommendation for group cleanup.

[2017-10-31 16:55] plaisted commented on #187
Thanks @Tratcher, Are there any examples on this?

Since orders may be cached before the customer it seems like you'd have the create the `IChangeToken` and cache it separately. If a customer is cached it `GetsOrCreate`'s the `IChangeToken` and registers a post eviction callback on the customer Entry to fire the `IChangeToken` when the customer entry expires. When a order for a customer is cached